{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block page_header %}
<!-- Header-->
<header class="bg-black py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center">

            <h1 class="display-4 text-white fw-bolder">A Cart</h1>

        </div>
    </div>
</header>
{% endblock %}
{% block content %}
<!-- Product section-->
<section class="page-section">
    <div class="w-auto px-4">
        <div class="col-12 mx-auto col-lg-8 col-md-10">
            {% if cart_items %}
            {% for item in cart_items %}

            <div class="cart-conteiner row align-items-center mt-5">

                <div class="col-6 col-sm-3 order-1 position-relative">
                    {% thumbnail item.product.image "200" as im %}
                    <a class="" href="{% url 'shop_item' item.product.id %}">

                        <div class="h-100 d-flex align-items-center "><img class="card-img-top" src="{{ im.url }}"
                                alt="{{ item.product.name }}" />
                        </div>
                    </a>
                    {% if item.product.sale %}
                    <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                        {% widthratio item.product.sale_price item.product.price 100 %}%
                    </div>
                    {% endif %}
                    {% endthumbnail %}
                </div>

                <div class="col-12 col-sm-6 order-3 order-sm-2">
                    <h3>{{ item.product.name }}</h3>
                    <p>{{ item.product.description }}</p>
                </div>

                <div class="col-3 text-center col-6 col-sm-3 order-2 order-sm-3">
                    <div class="row col">
                        <!-- Sale badge-->
                        
                        {% if item.product.sale %}
                        <h1 class="text-danger">${{ item.subtotal }} </h1>
                        {% else %}
                        <h1>${{ item.subtotal }}</h1>
                        {% endif %}

                    </div>
                    <div class="row col ">
                        <p>Quantity {{ item.quantity }}</p>
                    </div>
                </div>


            </div>
            <hr class="mt-1">
            {% endfor %}

            {% else %}
            <div class="row">

                <div class="col-12 text-center">
                    <h3> Your cart is empty</h3>{{ grand_total|floatformat:2 }}

                </div>
            </div>

            {% endif %}
        </div>
    </div>
    <div class="row">

        <div class="col-12 text-center">
            <h1> Your Grand total is ${{ grand_total|floatformat:2 }}</h1>

        </div>
    </div>

</section>
{% endblock %}