{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link href="{% static 'css/home.css' %}" rel="stylesheet" />

<link href="{% static 'css/shop.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<!-- Masthead-->
<header class="masthead h-auto bg-primary d-flex flex-column justify-content-center align-items-center">
    <img class="bg-3 parallax2" src="{% static 'img/bg-3.webp' %}" alt="Man With a Tophat">
    <div class="container">
        <div class="masthead-subheading">Welcome To!</div>
        <div class="masthead-heading text-uppercase text-light">A Hat Shop</div>
    </div>
</header>
<!-- Services-->
<section class="page-section" id="services">
    <div class="container index-width text-center">

        <div class="text-center">

            <h2 class="text-uppercase">Shop hats with confidence! </h2>
            <!-- Order Summary -->
            <div class="d-flex flex-column flex-sm-row mt-4 mb-5 gap-2 gap-md-3 gap-lg-4 justify-content-between">

                <!-- Men card -->
                <div class=" position-relative">
                    <a href="{% url 'shop' %}?category=mens" aria-label="A Thumbnail link to a Men's hats shop section"
                        title="Go to Men's section">
                        <img class="card-img-top rounded shadow-sm p-0" src="{% static 'img/mens.webp' %}"
                            alt="A man with a hat image thumbnail" />
                        <div
                            class="card-caption  rounded position-absolute d-flex flex-column align-items-center justify-content-between">
                            <div>
                                <span class="h3"> Shop For</span>
                            </div>
                            <div class="text-uppercase btn btn-dark btn-xl w-100 p-2">
                                <span> Men's Hats</span>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- women card -->
                <div class="position-relative mt-5 mt-sm-0">
                    <a href="{% url 'shop' %}?category=womens"
                        aria-label="A Thumbnail link to a Women's hats shop section" title="Go to Women's section">

                        <img class="card-img-top rounded shadow-sm p-0" src="{% static 'img/women.webp' %}"
                            alt="A women with a hat image thumbnail" />
                        <div
                            class="card-caption  rounded position-absolute d-flex flex-column align-items-center justify-content-between">
                            <div>
                                <span class="h3"> Shop For</span>
                            </div>
                            <div class="text-uppercase btn btn-xl btn-dark w-100 p-2">
                                <span> Women's Hats</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Recently added section -->
            <h2 class="text-uppercase">Recently added </h2>

            <div class="position-relative mt-4">
                <div id="left" class="bar left pb-2 pb-lg-4 d-none d-md-flex">
                    <div class="bar-btn my-auto rounded px-2 btn-left py-3"><i class="fas h1 fa-angle-left"></i>
                    </div>
                </div>
                <div
                    class="related-container pb-2 pb-lg-4 rounded row gx-2 gx-sm-3 gx-lg-4 h-25 scroll-wrapper flex-nowrap ">
                    {% for product in related %}
                    {% if product.id != item.id %}
                    <div class="related-item ">
                        {% include 'includes/shop/item-card.html' %}
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div id="right" class="bar right d-none pb-2 pb-lg-4 d-md-flex">
                    <div class="bar-btn my-auto px-2 rounded btn-right py-3"> <i class="fas h1 fa-angle-right"></i>
                    </div>
                </div>
            </div>
        </div>
        <a class="btn mt-4 btn-xl text-uppercase btn-dark" href="{% url 'shop' %}">Shop more hats</a>
    </div>
</section>

{% endblock %}
{% block postloadjs %}
<!-- Custom parallax effects -->
<script src="{% static 'js/parallax.js' %}"></script>

<script src="{% static 'js/scrool-x.js' %}"></script>
{% endblock %}