{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link href="{% static 'css/home.css' %}" rel="stylesheet" />

<link href="{% static 'css/shop.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<!-- Masthead-->
<header class="masthead h-auto d-flex flex-column justify-content-center align-items-center">
    <img class="bg parallax" src="{% static 'img/bg.jpg' %}" alt="paralax image bottom layer">
    <img class="bg-3 parallax2" src="{% static 'img/bg-3.png' %}" alt="Paraklax image top alyer">
    <div class="container">
        <div class="masthead-subheading">Welcome To!</div>
        <div class="masthead-heading text-uppercase">A Hat Shop</div>
    </div>
</header>
<!-- Services-->
<section class="page-section" id="services">
    <div class="container text-center">
        <div class="text-center">
            <h2 class="text-uppercase">Newest additions</h2>
            <h3 class="section-subheading text-muted">Shop hats with confidence!</h3>
            <div class="row gx-2 gx-sm-3 h-25 scroll-wrapper flex-nowrap">
                {% for product in related %}
                {% include 'includes/shop/item-card.html' %}
                {% endfor %}

            </div>
        </div>
        <a class="btn mt-4 btn-xl text-uppercase btn-dark" href="{% url 'shop' %}">Shop more hats</a>
    </div>
</section>

{% endblock %}
{% block postloadjs %}
<!-- Custom parallax effects -->
<script src="{% static 'js/parallax.js' %}"></script>
<script src="{% static 'js/scrool-x.js' %}"></script>
{% endblock %}