
<div class="star_container">
    {% if item.rating %}
    <div class="my-auto text-primary time font-monospace p-0 me-2">{{ item.rating_counter }} Reviews</div>   
    <a href="{% url 'all_reviews' item.id %}">
    <div class="stars h4"
        style="background-image: linear-gradient(to right, orange, orange {% widthratio item.rating 5 100 %}%, gray {% widthratio item.rating 5 100 %}%, gray 100%)">
        ★★★★★
    </div>
    </a>
    {% else %}
    <div class="my-auto time font-monospace text-primary p-0 me-2">No Reviews yet</div>   
    <div class="stars h4" style="background-image: linear-gradient(to right, gray, gray)">
        ★★★★★
    </div>
    {% endif %}
</div>