{% load thumbnail %}
<div class="col-md-6 mb-4 mb-md-0">
    <!-- Review product -->
    <div class="position-relative mb-3">
        {% thumbnail item.image "672" format="WEBP" as im %}
        <img class="card-img-top mb-md-0" src="{{ im.url }}"
        width="672" heiht="100%"
            alt="An image for product {{ item.name }} color {{ item.color }}" />
        {% endthumbnail %}
        {% if item.sale %}

        <div class="badge bg-danger text-white position-absolute w-auto" style="top: 0.5rem; right: 0.5rem">
            <h3 class="m-0 numbers-font">Sale</h3>
        </div>
        {% endif %}
    </div>
    <h3 class="fw-bolder text-capitalize">{{ item.name }}</h3>
    <div class="small mb-1">SKU: {{ item.sku }}</div>

    {% include 'includes/item-stars.html' %}

    <div class="fs-5 mb-3">
        {% if item.sale %}
        <span class="text-decoration-line-through h3 font-monospace">€{{ item.price }}</span>
        <span class="text-danger h3 font-monospace">€{{ item.sale_price }} </span>
        {% else %}
        <span class="font-monospace h3">€{{ item.price }} </span>
        {% endif %}
    </div>
    <p>{{ item.raiting }}</p>
    <p class="font-text">{{ item.description }}</p>

    {% if item.item_count == 0 %}
    <p class="text-danger font-monospace">{{ item.item_count }} Out of stock</p>
    {% elif item.item_count < 5 %} <p class="text-danger font-monospace">
        Only {{ item.item_count }} left in stock.
        </p>
        {% else %}
        <p class="font-monospace">{{ item.item_count }} items in stock</p>
        {% endif %}

        <a href="{% url 'shop_item' item.id %}" class="w-100 btn-xl btn btn-dark">Buy {{ item.name }}</a>
</div>
<hr class="d-md-none d-block">