<!-- Admin page include issues -->
<div class="card">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Submitted user support tickets
    </div>
    <div class="card-body p-0">

        {% if issues %}
        {% for issue in issues %}

        <p class="font-monospace small px-2">{{ issue }} <br> <span class="time">Submitted: {{ issue.date }}</span>
        </p>

        <table class="table table-borderless mb-0">
            <thead>
                <tr>
                    <th class="col-4">Ticket</th>
                    <th class="col-4 text-center">User</th>
                    <th class="col-4 text-end">Status</th>
                </tr>
            </thead>

            <tbody class="">
                <tr class="table-light">
                    <td class="col-4 font-monospace"><a class="btn btn-warning"
                            href="{% url 'messages_view' issue.id %}?unread=False" title="{{ issue }}">
                            #{{ issue.id}}
                        </a></td>

                    <td class="col-4 font-monospace text-center">${{ issue.user_profile }}</td>
                    <td class="col-4 colfont-monospace text-end">{{ issue.status }}</td>
                </tr>
            </tbody>
        </table>

        {% endfor %}
        {% endif %}

    </div>
</div>