<div class="px-2">
    <p class="text-muted text-italic">Customer support</p>
</div>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Submitted user Issues
    </div>
    <div class="card-body p-0">
        <table class="table table-borderless">
            {% if issues %}
            {% for issue in issues %}
           
            <thead>
                <tr>
                    <th class="font-monospace">{{ issue }} <br> <span class="time">Submitted: {{ issue.date }}</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-light ">
                    <td>
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th>Ticket</th>
                                    <th class=" text-center">User</th>
                                    <th class="text-end">Status</th>
                                </tr>
                            </thead>

                            <tbody class="border-bottom">
                                <tr class="table-light">
                                    <td class="col-4 font-monospace"><a class="btn btn-warning"
                                            href="{% url 'messages_view' issue.id %}" title="{{ issue }}">
                                            #{{ issue.id}}
                                        </a></td>

                                    <td class="col-4 font-monospace text-center">${{ issue.user_profile }}</td>
                                    <td class="col-4 colfont-monospace text-end">{{ issue.status }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>

            
            {% endfor %}
            {% endif %}

        </table>

    </div>
</div>