{% load thumbnail %}
<!--  Out off stock products -->
<div class="card">
    <div class="card-header text-danger">
        <i class="fas fa-table me-1"></i>
        Out of Stock
    </div>
    <div class="card-body p-0">
        <table class="table table-borderless">
            {% if out_of_stock %}
            {% for item in out_of_stock %}
            
            <tbody>
                <tr class="table-light border-bottom">
                    <td>
                        <table class="table table-borderless mb-0">
                            <thead>
                                <tr>
                                    <th>{{ item.name }}</th>
                                    <th class="text-center">Item SKU</th>
                                    <th class="text-end">Item Stock</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="table-light">
                                    <td><a href="{% url 'shop_item' item.id %}" title="{{ order.name }}">
                                            {% thumbnail item.image "80" as im %}
                                            <a href="{% url 'shop_item' item.id %}">
                                                <div class="d-flex align-items-center ">
                                                    <img src="{{ im.url }}" alt="{{ item.product.name }}" />
                                                </div>
                                            </a>
                                            {% endthumbnail %}
                                        </a></td>
                                    <td class="font-monospace text-center">{{ item.sku}}</td>
                                    <td class="font-monospace text-end">{{ item.item_count }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
            {% endif %}
        </table>
    </div>
</div>

<!--  low stock Products -->
<div class="card">
    <div class="card-header text-warning">
        <i class="fas fa-table me-1"></i>
        Low Stock
    </div>
    <div class="card-body p-0">
        <table class="table table-borderless">
            {% if low_stock %}
            {% for item in low_stock %}
            <tbody>
                <tr class="table-light border-bottom">
                    <td>
                        <table class="table table-borderless mb-0">
                            <thead>
                                <tr>
                                    <th>{{ item.name }}</th>
                                    <th class="text-center">Name</th>
                                    <th class="text-end">Item Stock</th>
                                </tr>
                            </thead>
                            <tbody class="">
                                <tr class="table-light font-monospace">
                                    <td><a href="{% url 'shop_item' item.id %}" title="{{ order.name }}">
                                            {% thumbnail item.image "80" as im %}
                                            <a class="" href="{% url 'shop_item' item.id %}">
                                                <div class="d-flex align-items-center ">
                                                    <img class="" src="{{ im.url }}" alt="{{ item.product.name }}" />
                                                </div>
                                            </a>
                                            {% endthumbnail %}
                                        </a></td>
                                    <td class="font-monospace text-center">{{ item.sku}}</td>
                                    <td class="font-monospace text-end">{{ item.item_count }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
            {% endif %}
        </table>
    </div>
</div>