{% load thumbnail %}
<!--  Out off stock products -->
<div class="card">
    <div class="card-header text-danger">
        <i class="fas fa-table me-1"></i>
        Out of Stock
    </div>
    <div class="card-body p-0">
        {% if out_of_stock %}
        {% for item in out_of_stock %}

        <table class="table table-borderless mb-0">
            <thead>
                <tr>
                    <th class="col-4">{{ item.name }}</th>
                    <th class="text-center col-4">SKU</th>
                    <th class="text-end col-4">Item Stock</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-light">
                    <td class="col-4">
                        {% thumbnail item.image "80" as im %}
                        <a href="{% url 'update_item' item.id %}" aria-label="A link to product {{ item.name }} update page">
                            <div class="d-flex align-items-center ">
                                <img src="{{ im.url }}" alt="An image for product {{ item.name }} color {{ item.color }}" />
                            </div>
                        </a>
                        {% endthumbnail %}
                    </td>
                    <td class="col-4 font-monospace text-center">{{ item.sku}}</td>
                    <td class="Col-4 font-monospace text-end">{{ item.item_count }}</td>
                </tr>
            </tbody>
        </table>

        {% endfor %}
        {% endif %}
    </div>
</div>

<!--  low stock Products -->
<div class="card">
    <div class="card-header text-warning">
        <i class="fas fa-table me-1"></i>
        Low Stock
    </div>
    <div class="card-body p-0">
        {% if low_stock %}
        {% for item in low_stock %}

        <table class="table table-borderless mb-0">
            <thead>
                <tr>
                    <th class="col-4">{{ item.name }}</th>
                    <th class="text-center col-4">SKU</th>
                    <th class="text-end col-4">Item Stock</th>
                </tr>
            </thead>
            <tbody class="">
                <tr class="table-light font-monospace">
                    <td class="col-4">
                        {% thumbnail item.image "80" as im %}
                        <a href="{% url 'update_item' item.id %}" aria-label="A link to product {{ item.name }} update page">
                            <div class="d-flex align-items-center ">
                                <img src="{{ im.url }}" alt="An image for product {{ item.name }} color {{ item.color }}" />
                            </div>
                        </a>
                        {% endthumbnail %}
                    </td>
                    <td class="col-4 font-monospace text-center">{{ item.sku}}</td>
                    <td class="col-4 font-monospace text-end">{{ item.item_count }}</td>
                </tr>
            </tbody>
        </table>

        {% endfor %}
        {% endif %}
    </div>
</div>