<!-- Admin page include for low stock items -->
<div class="card">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Orders
    </div>
    <div class="card-body p-0">
        <table class="table table-borderless">
            {% if orders %}
            {% for order in orders %}
            {% if order.status != 'Completed' %}
            <thead>
                <tr>
                    <th class="time font-monospace">Odrer Date: {{ order.date }}</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-light border-bottom">
                    <td>
                        <table class="table table-borderless mb-0">
                            <thead>
                                <tr>
                                    <th>Odrer</th>
                                    <th class="text-center">Total</th>
                                    <th class="text-end">Status</th>
                                </tr>
                            </thead>

                            <tbody class="">
                                <tr class="table-light font-monospace">
                                    <td class="col-4"><a class="btn btn-warning" href="{% url 'order_view' order.order_number %}"
                                            title="{{ order.order_number }}">
                                            #{{ order.id}}
                                        </a></td>
                                    <td class="font-monospace col-4 text-center">${{ order.total }}</td>
                                    <td class="font-monospace col-4 text-end">{{ order.status }}</td>

                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
            {% endif %}
            {% endfor %}
            {% endif %}
            
        </table>
    </div>
</div>