{% load thumbnail %}
<!--  Admin page include to monitor discount products -->
<div class="card">
    <div class="card-header text-success">
        <i class="fas fa-table me-1"></i>
        Product Discounts
    </div>
    <div class="card-body p-0">

        {% if sale %}
        {% for item in sale %}

        <table class="table table-borderless mb-0">
            <thead>
                <tr>
                    <th class="col-4">{{ item.sku }}</th>
                    <th class="col-4 font-monospace text-center">Original Price</th>
                    <th class="col-4 font-monospace text-end">Sale Price</th>
                </tr>
            </thead>

            <tbody>
                <tr class="table-light font-monospace">
                    <td class="col-4">
                        {% thumbnail item.image "80" as im %}
                        <a href="{% url 'update_item' item.id %}" 
                        aria-label="A link to the product #{{ item.name }} update page"
                        title="{{ item.name }}" >
                            <div class="d-flex align-items-center ">
                                <img src="{{ im.url }}" alt="An image for product {{ item.name }} color {{ item.color }}" />
                            </div>
                        </a>
                        {% endthumbnail %}
                    </td>
                    <td class="font-monospace text-center col-4">€{{ item.price }}</td>
                    <td class="font-monospace text-end col-4">€{{ item.sale_price }}</td>
                </tr>
            </tbody>
        </table>
        {% endfor %}
        {% endif %}
    </div>
</div>