{% load thumbnail %}
<!--  Admin page include to monitor discount products -->
<div class="px-2">
    <p class="text-muted text-italic">Manage product discounts</p>
</div>

<div class="card mb-4">
    <div class="card-header text-success">
        <i class="fas fa-table me-1"></i>
        Product Discounts
    </div>
    <div class="card-body p-0">
        <table class="table table-borderless">
            {% if sale %}
            {% for item in sale %}

            <thead>
                <tr>
                    <th class="text-muted font-monospace text-italic">{{ item }}</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-light ">
                    <td>
                        <table class="table table-borderless mb-0">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th class="font-monospace text-center">Original Price</th>
                                    <th class="font-monospace text-end">Sale Price</th>
                                </tr>
                            </thead>

                            <tbody class="">
                                <tr class="table-light font-monospace">
                                    <td><a  href="{% url 'shop_item' item.id %}"
                                            title="{{ order.name }}">
                                            {% thumbnail item.image "80" as im %}
                                            <a class="" href="{% url 'shop_item' item.id %}">
                                                <div class="d-flex align-items-center ">
                                                    <img class="" src="{{ im.url }}"
                                                        alt="{{ item.product.name }}" />
                                                </div>
                                            </a>
                                            {% endthumbnail %}
                                        </a></td>
                                    <td class="font-monospace text-center">{{ item.price }}</td>
                                    <td class="font-monospace text-end">{{ item.sale_price }}</td>

                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
            {% endif %}
        </table>

    </div>
</div>

