{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% load crispy_forms_tags %}
{% block page_header %}
<!-- Header-->
<header class="bg-black py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center">

            <h1 class="display-4 fw-bolder">Order Summary</h1>

        </div>
    </div>
</header>
{% endblock %}
{% block content %}

<!-- item Detail section-->
<section class="page-section">



    <div class="container bg-white p-4 px-lg-5">
        <!-- Project One -->

        <div class="col-12 text-uppercase text-center h4 text-warning">Thank You</div>
        <div class="row m-0 p-0">
            <p class="px-0 fw-bolder text-uppercase font-monospace">Order #: {{ order.id }}</p>
            <hr class="p-1">

            <div class="col-md-6">
                <p class="text-italic fw-bolder">Shipping Address:</p>
                <p class="mb-0 font-monospace">Name: {{ order.shipping_name }}</p>
                <p class="mb-0 font-monospace">Address 1: {{ order.address_line_1 }}</p>
                {% if order.address_line_2 %}
                <p class="mb-0 font-monospace">Address 2: {{ order.address_line_2 }}</p>
                {% endif %}
                <p class="mb-0 font-monospace">City: {{ order.city }}</p>
                {% if order.county %}
                <p class="mb-0 font-monospace">County: {{ order.county }}</p>
                {% endif %}
                {% if order.postcode %}
                <p class="mb-0 font-monospace">Postcode: {{ order.postcode }}</p>
                {% endif %}
                <p class="mb-0 font-monospace">Country: {{ order.country }}</p>
            </div>
            <hr class="p-1 d-md-none dblock">
            <div class="col-md-6">
                <p class="text-italic fw-bolder">Order Summary:</p>
                <p class="mb-0 font-monospace">Date: {{ order.date }}</p>
                <p class="mb-0 font-monospace">User: {{ order.user_profile }}</p>
                <p class="mb-0 font-monospace">Name: {{ order.full_name }}</p>
                <p class="mb-0 font-monospace">Email: {{ order.email }}</p>
                <p class="mb-0 font-monospace">Total: ${{ order.total }}</p>
                <p class="mb-0 font-monospace">Delivery: {{ order.delivery }}</p>
               
            </div>

        </div>
        <hr class="p-1">
        {% for item in order.lineitems.all %}
        <div class="cart-conteiner border mx-0 px-0 bg-white row align-items-center mt-2 mt-sm-4">

            <div class="col-6 col-sm-3 order-2 order-sm-1 position-relative">
                {% thumbnail item.product.image "150" as im %}
                <a class="" href="{% url 'shop_item' item.product.id %}">
                    <div class="h-100 d-flex align-items-center ">
                        <img class="card-img-top" src="{{ im.url }}" alt="{{ item.product.name }}" />
                    </div>
                </a>

                {% if item.product.sale %}
                <div class="badge bg-danger text-white position-absolute font-monospace"
                    style="top: 0.5rem; right: 0.5rem">
                    Sale
                </div>
                {% endif %}
                {% endthumbnail %}
            </div>

            <div class="col-12 col-sm-6 order-1 order-smproduct">
                <p class="text-capitalize mb-0 fw-bolder">{{ item.product.name }}</p>
                <p class="text-capitalize mb-0 font-monospace">SKU: {{ item.product.sku }}</p>
                <!-- incluse stars rating -->

                <div class="star_container">

                    {% if item.product.rating %}
                    <a href="{% url 'all_reviews' item.product.id %}">
                        <div class="stars h4 text-warning"
                            style="background-image: linear-gradient(to right, orange, orange {% widthratio item.product.rating 5 100 %}%, gray {% widthratio item.product.rating 5 100 %}%, gray 100%)">
                            ★★★★★
                        </div>
                    </a>
                    {% else %}
                    <span class="time font-monospace">No reviews yet</span>
                    <div class="stars h4 text-warning" style="background-image: linear-gradient(to right, gray, gray)">
                        ★★★★★
                    </div>

                    {% endif %}

                </div>
                
                {% if order.user_profile and from_profile %}
                {% if not item.product.id in order_list %}
                <p><a href="{% url 'review_view' item.product.id  %}?order_id={{ order.order_number }}">Write a
                        review</a></p>
                {% else %}
                <p><a href="{% url 'review_view' item.product.id  %}?order_id={{ order.order_number }}">View Your
                        review</a></p>
                {% endif %}
                {% endif %}
                
            </div>

            <div class="col-3 col-6 col-sm-3 order-2 order-sm-3">
                <div>
                    {% if item.product.sale %}
                    <span
                        class="text-decoration-line-through text-danger  font-monospace">${{ item.product.price }}</span>
                    <span class="text-danger  font-monospace">${{ item.product.sale_price }} </span>
                    {% else %}
                    <span class="font-monospace">${{ item.product.price }}</span>
                    {% endif %}

                    <p class="mb-0 font-monospace">Quantity: {{ item.quantity }}</p>
                    <p class="mb-0 font-monospace">Sub total ${{ item.product_total }} </p>

                </div>
            </div>

        </div>
        {% endfor %}
        <hr class="p-1">
        <div class="cart-conteiner bg-white row align-items-center mt-2 mt-sm-4">

            <div class="col-6 col-md-9">
                <div>

                    <p class="text-italic fw-bolder">Order Status: {{ order.status }}</p>

                    {% if order.status != "Completed" and from_profile and order.status == "Shipped" %}
                    <form class="form" method="POST" action="{% url 'order_history' order.order_number %}">
                        {% csrf_token %}
                        <div class="form-group m-0">
                            <div class="input-group ">

                                <input type="hidden" name="completed" value="Completed">
                                <button type='submit' class='btn btn-warning'>
                                    Confirm reception
                                </button>

                            </div>
                        </div>
                    </form>
                    {% endif %}
                    {% if from_profile %}
                    <div class="mt-3">
                        {% if issue %}

                        {% if issue.status == 'Resolved' %}
                        <a href="{% url 'messages_view' issue.id %}" class="m-0 link-success fw-bolder font-monospace"> Ticket #{{ issue.id }} Status: {{ issue.status }}</a>
                        {% else %}
                        <a href="{% url 'messages_view' issue.id %}" class="m-0 link-danger fw-bolder font-monospace"> Ticket #{{ issue.id }} Status: {{ issue.status }}</a>
                        {% endif %}
                        
                        {% else %}
                        <a href="{% url 'submit' order.order_number %}">Report an issue</a>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="col-6 h4  fw-bolder font-monospace col-md-3">
                <p>
                    {% if delivery != 0 %}
                    <span class="font-monospace h6">Delivery: {{ delivery }}</span> <br>
                    {% else %}
                    <span class="text-danger m-0 h6 font-monospace">Free delivery over $50</span> <br>
                    {% endif %}
                    <span class="h3 fw-bold font-monospace">Total ${{ order.total }} </span>
                </p>   
            </div>

        </div>

    </div>
    <div class="container p-4 px-lg-5">
        {% if admin %}

        <form class="form" method="POST" action="{% url 'order' order.order_number %}">
            {% csrf_token %}
            <div class="form-group m-0">
                <p class="text-muted text-italic">Change current order status</p>
                <div class="input-group d-flex">

                    <div class="col-6 col-md-3">

                        <div class="text-italic fw-bolder">
                            {{ status_form|crispy }}
                        </div>

                        <button type='submit' class='btn btn-dark w-100'>
                            Update
                        </button>
                    </div>

                </div>
            </div>
        </form>
        {% endif %}
    </div>
</section>
{% endblock %}