{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<!-- Header-->
<header class="bg-black py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center">
            <h1 class="display-4 fw-bolder">Checkout</h1>
        </div>
    </div>
</header>
{% endblock %}

{% block extra_css %}
<link href="{% static 'css/checkout.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<!-- Product Detail section-->
<section class="page-section">
    <div class="container pb-5 px-2 px-lg-5">
        <h5 class="">Checkout Now</h5>
        <!-- Order Summary -->
        <p class="text-muted text-italic">Order Summary</p>

        <!-- Include checkout cart items -->
        {% include 'includes/checkout-items.html' %}

        <!-- Order total and delivery costs -->
        <div class="mt-4">
            <p>
                <span class="h6 font-monospace">Subtotal ${{ total }} </span> <br>
                {% if delivery != 0 %}
                <span class="font-monospace h6">Delivery: {{ delivery }}</span> <br>
                {% else %}
                <span class="text-danger m-0 h6 font-monospace">Free delivery over $50</span> <br>
                {% endif %}
                <span class="h3 fw-bold font-monospace">Grand total ${{ grand_total }} </span>
            </p>
        </div>

        <!-- Include Shipping Form and stripe card element -->
       {% include 'includes/forms/checkout-form.html' %}

    </div>
</section>
{% endblock %}

<!-- Load stripe js and Public key as wel as clien secret to render srd element -->
{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>

{% endblock %}