{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<!-- Header-->
<header class="py-5">

</header>
{% endblock %}

{% block content %}
<!-- success page item Detail section-->
<section class="page-section">
    <div class="container bg-white px-3 pt-3 px-lg-5">

        <!-- Billing and shipping information -->
        <h3 class="col-12 text-uppercase text-center">Thank You</h3>
        <div class="row m-0 p-0">
            <span class="px-0 fw-bolder text-uppercase font-monospace">Id: {{ order.id }}</span> <br>
            <span class="px-0 fw-bolder small text-uppercase font-monospace"># {{ order.order_number }}</span>
            <hr class="p-1">

            <div class="px-0 col-md-6">
                <p class="text-italic fw-bolder">Shipping Address:</p>
                <p class="mb-0 font-text">Name: {{ order.shipping_name }}</p>
                <p class="mb-0 font-text">Address 1: {{ order.address_line_1 }}</p>
                {% if order.address_line_2 %}
                <p class="mb-0 font-text">Address 2: {{ order.address_line_2 }}</p>
                {% endif %}
                <p class="mb-0 font-text">City: {{ order.city }}</p>
                {% if order.county %}
                <p class="mb-0 font-text">County: {{ order.county }}</p>
                {% endif %}
                {% if order.postcode %}
                <p class="mb-0 font-text">Postcode: {{ order.postcode }}</p>
                {% endif %}
                <p class="mb-0 font-text">Country: {{ order.country }}</p>
            </div>
            <hr class="d-md-none dblock">
            <div class="col-md-6 text-md-end px-0">
                <p class="text-italic fw-bolder">Order Summary:</p>
                <p class="mb-0 font-text">Date: {{ order.date }}</p>
                <p class="mb-0 font-text">User: {{ order.user_profile }}</p>
                <p class="mb-0 font-text">Name: {{ order.full_name }}</p>
                <p class="mb-0 font-text">Email: {{ order.email }}</p>
                <p class="mb-0 font-text">Total: €{{ order.total }}</p>
                <p class="mb-0 font-text">Delivery: €{{ order.delivery }}</p>
            </div>

        </div>

        <!-- Include Order Line Items -->
        {% include 'includes/order-line-items.html' %}
        <hr class="p-1 mt-4">
        <div class="cart-conteiner bg-white align-items-center pb-3">

            <!-- Delivery costs -->
            <div class="col-12 fw-bolder font-monospace">
                <p>
                    {% if delivery != 0 %}
                    <span class="font-monospace h6">Delivery: €{{ delivery }}</span> <br>
                    {% else %}
                    <span class="text-danger m-0 h6 font-monospace">Free delivery over €50</span> <br>
                    {% endif %}
                    <span class="h3 fw-bold font-monospace">Total €{{ order.total }} </span>
                </p>   
            </div>
            <div class="col-12">
                <div>
                    <!-- Confirm Order reception if order status is shipped -->
                    <p class="text-italic fw-bolder">Order Status: {{ order.status }}</p>
                    {% if order.status != "Completed" and from_profile and order.status == "Shipped" %}
                    {% include 'includes/forms/confirm-order-status-form.html' %}
                    {% endif %}
                    
                </div>
            </div>
            <div class="col-12"><!-- Report an issue with order. Available only if order was placed -->
                {% if from_profile %}
                <div>
                    {% if issue %}
                    {% if issue.status == 'Resolved' %}
                    <a href="{% url 'messages_view' issue.id %}" class="m-0 link-success fw-bolder font-monospace"> Ticket #{{ issue.id }} Status: {{ issue.status }}</a>
                    {% else %}
                    <a href="{% url 'messages_view' issue.id %}" class="m-0 link-danger fw-bolder font-monospace"> Ticket #{{ issue.id }} Status: {{ issue.status }}</a>
                    {% endif %}
                    
                    {% else %}
                    <a href="{% url 'submit' order.order_number %}">Report an issue</a>
                    {% endif %}
                </div>
                {% endif %}
            </div>

        </div>
    </div>

    <!-- If from admin page display order status form -->
    {% include 'includes/forms/order-status-form.html' %}

</section>
{% endblock %}