{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_header %}
<!-- Header-->
<header class="py-5">

</header>
{% endblock %}
{% block content %}

<!-- Add new product -->
<!-- Product Detail section-->
<section class="page-section">

    <div class="container">
        <div class="w-container mx-auto">
            <h2 class=""><i class="fas fa-folder-plus"></i> Add new product</h2>
            <p class="text-muted text-italic">Add new product to inventory</p>
            <form class="mt-3" action="{% url 'add_item' %}" method="POST" enctype="multipart/form-data" id="add_item"
                novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-xl btn-dark text-uppercase float-right">Add new Item</button>
            </form>
        </div>
    </div>
</section>

{% endblock %}

<!-- Postload JavaScript content block -->
{% block postloadjs %}
<script src="{% static 'js/shop-form.js' %}"></script>
{% endblock %}