{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% load crispy_forms_tags %}

{% block extra_css %}
<link href="{% static 'css/customers.css' %}" rel="stylesheet" />
{% endblock %}

{% block page_header %}
<!-- Header-->
    <header class="py-5">

    </header>
{% endblock %}
{% block content %}

<!-- Product Detail section-->
<section class="page-section">


  <div class="container pb-5 px-2 px-lg-5">
    <div class="nav-item text-end">
      <a class="w-auto btn btn-dark ms-auto" href="{% url 'add_item' %}">Add New Product </a>
    </div>

    <div class="px-2">
      <h2 class="text-capitalize">Manage</h2>
      <p class="text-muted text-italic">Recent order status - Shipping | Low stock Items | Store product discounts | Support tickets</p>
    </div>

    <!-- Manage orders -->
    <div class="accordion mt-5 d-grid gap-2 rounder" id="accordionOne">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button positin-relative collapsed rounded" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Orders
            <span
              class="cart-pill text-white position-absolute top-0 start-0 translate-middle font-monospace bg-success {% if orders_count != 0 %}bg-danger{% endif %} rounded-circle">
              {{ orders_count }}
              <span class="visually-hidden">Order items</span>
            </span>
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
          data-bs-parent="#accordionOne">
          <div class="accordion-body">
            {% include 'includes/admin/orders.html' %}
          </div>
        </div>
      </div>
  
      <!-- Manage Stoct -->
      <div class="accordion-item mt-5 rounder">
        <h2 class="accordion-header">
          <button class="accordion-button position-relative collapsed rounded" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Stock
            <span
              class="cart-pill text-white position-absolute top-0 start-0 translate-middle font-monospace bg-success {% if out_of_stock_count != 0 %}bg-danger{% endif %} rounded-circle">
              {{ out_of_stock_count }}
              <span class="visually-hidden">Stock low items</span>
            </span>
            <span
            class="cart-pill text-white position-absolute top-0 start-10  ms-1 translate-middle font-monospace bg-success {% if low_stock_count != 0 %}bg-warning{% endif %} rounded-circle">
            {{ low_stock_count }}
            <span class="visually-hidden">Stock low items</span>
          </span>
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
          data-bs-parent="#accordionTwo">
          <div class="accordion-body">
            {% include 'includes/admin/low_stock.html' %}
          </div>
        </div>
      </div>

      <!-- manage product sale -->
      <div class="accordion-item my-5 rounded">
        <h2 class="accordion-header">

          <button class="accordion-button position-relative collapsed rounded" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
            Discounts
            <span
              class="cart-pill text-white position-absolute top-0 start-0 translate-middle font-monospace bg-success {% if sale_coun != 0 %}bg-warning{% endif %} rounded-circle">
              {{ sale_count }}
              <span class="visually-hidden">Discounts items</span>
            </span>
          </button>

          </span>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
          data-bs-parent="#accordionThree">
          <div class="accordion-body">
            {% include 'includes/admin/sale.html' %}
          </div>
        </div>
      </div>

      <!-- Support items -->
      <div class="accordion-item rounded">
        <h2 class="accordion-header">

          <button class="accordion-button position-relative collapsed rounded" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
            Customer support
            <span
              class="cart-pill text-white position-absolute top-0 start-0 translate-middle font-monospace bg-success {% if issues_count != 0 %}bg-danger{% endif %} rounded-circle">
              {{ issues_count }}
              <span class="visually-hidden">Customer support</span>
            </span>
          </button>

          </span>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
          data-bs-parent="#accordionFour">
          <div class="accordion-body">
            {% include 'includes/admin/issues.html' %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}