@charset "UTF-8";

:root {
  --bs-warning: #fca311;
  --bs-white: #ffffff;
  --bs-gray: #292929;
  --bs-light: #e5e5e5;
  --bs-dark: #000000;
  --bs-danger: #d2042d;
  --bs-success: #6a994e;

  --bs-primary: #292929;
  --bs-secondary: #e5e5e5;

  --bs-primary-rgb: 41, 41, 41;
  --bs-secondary-rgb: 229, 229, 229;

  --bs-warning-rgb: 252, 163, 17;
  --bs-success-rgb: 106, 153, 78;
  --bs-danger-rgb: 210, 4, 45;
  --bs-white-rgb: 255, 255, 255;
  --bs-light-rgb: 229, 229, 229;
  --bs-dark-rgb: 0, 0, 0;
}

.text-italic {
  font-weight: 400;
  font-style: italic;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
  scroll-padding-top: 4.5rem;
}

body {
  position: relative;
  overflow-x: hidden;
  background-color: #e5e5e5;
}

p {
  line-height: 1.75;
}

a {
  color: blue;

}

a:hover {
  color: #000000;
}

.text {
  border-radius: 0 12px 12px 12px;
}

.text-admin {
  border-radius: 12px 0px 12px 12px;
}

header h1 {
  color: #e5e5e5;
}

.invalid {
  color: #d2042d;
}

.valid {
  color: green;
}

.numbers-font {
  font-family: 'Itim', cursive;
}

.total {
  font-size: 4rem;
}

/* Page section */
.page-section {
  padding: 6rem 0;
}

.page-section h2.section-heading,
.page-section .section-heading.h2 {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.page-section h3.section-subheading,
.page-section .section-subheading.h3 {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-bottom: 4rem;
}

@media (min-width: 768px) {
  section {
    padding: 9rem 0;
  }
}

.btn-xl {
  padding: .6rem;
  font-weight: 700;
  font-size: 1.125rem;
  max-width: 600px;
  width: 100%;
}

.btn {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  letter-spacing: .06rem;
}

/* Main Navigation */
#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #000000;
}

#mainNav .navbar-toggler {
  padding: 0.75rem;
  font-size: 0.75rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  font-weight: 700;
}

#mainNav .navbar-brand {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
}

#mainNav .navbar-brand img {
  height: 1.5rem;
}

.nav-item .nav-link {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.95rem;
  color: #e5e5e5;
  font-weight: 600;
  letter-spacing: 0.0625em;
}

.btn:focus,
.btn:active {
  box-shadow: none !important;
}

.cart-pill {
  font-size: .8rem;
  margin: 0;
  padding: 0 6px;
}

.cart,
.navbar-brand,
.navbar-toggler {
  color: #e5e5e5;
  transition: color 0.2s ease-in-out;
}

.cart:hover,
.cart:active,
.navbar-brand:hover,
.nav-item .disabled,
.nav-item .nav-link.active,
.nav-item .nav-link:hover {
  color: #fca311;
}

.orange {
  color: #fca311 !important;
}

.accordion-button{
  color: #fca311;
}

.search {
  padding-left: 6px;
  border-radius: 12px;
}

.search-btn {
  border-radius: 0px;
  margin-left: -42px;
}

.search-btn:hover,
.search-btn:active{
  color: #000000;
  background-color: #fca311;
  border-color: #fca311;
}

.btn-dark:hover,
.btn-dark:active,
.navbar-toggler:hover {
  background-color: #292929;
  color: #fca311;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border: none;
    background-color: transparent;
    transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
  }

  #mainNav .navbar-brand {
    font-size: 1.5em;
    transition: font-size 0.3s ease-in-out;
  }

  #mainNav .navbar-brand img {
    height: 2rem;
    transition: height 0.3s ease-in-out;
  }

  #mainNav.navbar-shrink {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #000000;
  }

  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
  }

  #mainNav.navbar-shrink .navbar-brand svg,
  #mainNav.navbar-shrink .navbar-brand img {
    height: 1.5rem;
  }

  #mainNav .navbar-nav .nav-item {
    margin-right: 1rem;
  }

  #mainNav .navbar-nav .nav-item:last-child {
    margin-right: 0;
  }
}

/* toast container */
.toast-container {
  z-index: 9999;
  top: 99.99px;

}

.toast {
  max-height: 80vh;
  overflow: auto;
  overflow-x: hidden;
}

/* Footer section and Promise */
.footer {
  text-align: center;
  font-size: 0.9rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

section#promise {
  background-image: url("../img/map-image.png");
  background-repeat: no-repeat;
  background-position: center;
}

section#promise .section-heading {
  color: #e5e5e5;
}

.btn-social {
  height: 2.5rem;
  width: 2.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 100%;
}

.btn-social {
  background-color: #fca311;
  border-color: #fca311;
  color: #fff;
}

.btn-social:active,
.btn-social:hover {
  background-color: #e5e5e5;
  border-color: #e5e5e5;
  color: #000000;
}

.update{
  background-color: #fca311;
  transition: 250ms;
}

.update:hover,
.update:active {
  background-color: #000000;
}

#support-form .select option {
  font-weight: 700;
  color: #999;
}

.time {
  font-size: .6rem;
}
.message {
  font-size: .9rem;
}

.modal-body {
  background-color: rgba(229, 229, 229, 0.9);
}

/* Horisontal scrool */
.scroll-wrapper {
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.scroll-wrapper .col {
  margin-left: -100px;
  display: inline-block;
}

.cart-conteiner .badge,
.item .badge,
.card .badge {
    transform: rotate(25deg);
    border-radius: 9px 3px;
}