{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% load crispy_forms_tags %}

{% block extra_css %}
<link href="{% static 'css/customers.css' %}" rel="stylesheet" />
{% endblock %}

{% block page_header %}
<!-- Header-->
<header class="py-5">

</header>
{% endblock %}
{% block content %}

<!--OrderDetail section-->
<section class="page-section">

    <div class="container px-sm-2">
        <div class="col-12 text-left">
            <p class="col-12 text-end"><a class="btn btn-dark orrange" href="{% url 'user_details' %}"><i
                        class="fas fa-user-edit"></i> Profile
                    details</a></p>
        </div>
        <h2 class="text-capitalize"><i class="fas fa-history"></i> {{ request.user }}</h2>

        <!-- how only if unresolved user support tickets -->
        {% if issues %}
        <div>
            <p class="text-muted text-italic">Unresolved support Tickets
        </div>

        <div class="accordion mb-5 d-grid gap-2" id="accordionOne">
            <!-- Support items -->
            <div class="accordion-item">
                <h2 class="accordion-header">

                    <button class="accordion-button position-relative collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                        Support Tickets
                        <span
                            class="cart-pill text-white position-absolute top-0 start-0 translate-middle font-monospace bg-success {% if sale_coun != 0 %}bg-danger{% endif %} rounded-circle">
                            {{ issues_count }}
                            <span class="visually-hidden">Customer support</span>
                        </span>
                    </button>

                    </span>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                    data-bs-parent="#accordionFour">
                    <div class="accordion-body">
                        <!-- Incluse issues items -->
                        {% include 'includes/issues.html' %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        <!-- User order history -->
        <p class="text-muted text-italic">Order history</p>
        <div class="card">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                My orders
            </div>
            <div class="card-body p-0">

                {% if orders %}
                {% for order in orders reversed %}
                <p class="time font-monospace px-2">Odrer Date: {{ order.date }}</p>
                <table class="table table-borderless mb-0">
                    <thead>
                        <tr>
                            <th>Odrer</th>
                            <th class="text-center">Total</th>
                            <th class="text-end">Status</th>
                        </tr>
                    </thead>

                    <tbody class="">
                        <tr class="table-light">
                            <td class="col-4"><a class="btn btn-warning"
                                    href="{% url 'order_history' order.order_number %}"
                                    aria-label="A link to the order id {{ order.id }} summary page"
                                    title="{{ order }}" >
                                   # {{ order.order_number | truncatechars:4 }}
                                </a></td>
                            <td class="font-monospace col-4 text-center">€{{ order.total }}</td>
                            <td class="font-monospace col-4 text-end">{{ order.status }}</td>

                        </tr>
                    </tbody>
                </table>

                {% endfor %}
                {% endif %}
            </div>
        </div>

        <!-- show all orders -->
        {% if not all and not order_count <= 10 %} <p class="text-muted text-italic">Latest 10 orders are shown</p>
            <a href="{% url 'user' %}?all=True">See all my order history</a>
            {% endif %}
    </div>
</section>

{% endblock %}