{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% load crispy_forms_tags %}
{% block page_header %}
<!-- Header-->
<header class="bg-black py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center">

            <h1 class="display-4 text-white fw-bolder">User</h1>

        </div>
    </div>
</header>
{% endblock %}
{% block content %}

<!-- Product Detail section-->
<section class="page-section">
    <div class="container pb-5 px-4 px-lg-5">
        {{ request.user }}
        <form class="mt-3" action="{% url 'user' %}" method="POST" id="profile-update-form">
            {% csrf_token %}
            {{ user_form|crispy }}
            {{ address_form|crispy }}
            
            
            <button class="btn btn-black rounded-0 text-uppercase float-right">Update Information</button>
        </form>
    </div>

</section>

{% endblock %}