<!-- Checkout Cart items -->
{% load thumbnail %}

{% if cart_items %}
{% for item in cart_items %}
<div class="cart-conteiner rounded bg-white p-2 row gx-0 align-items-center my-2 mt-sm-4 mb-3 mb-md-0">
    <div class="col-6 col-sm-3 order-2 order-sm-1 position-relative">

        <!-- item image -->
        {% thumbnail item.product.image "100" as im %}
        <a class="" href="{% url 'shop_item' item.product.id %}">
            <div class="h-100 d-flex align-items-center ">
                <img class="card-img-top" src="{{ im.url }}" alt="{{ item.product.name }}" />
            </div>
        </a>

        <!-- product discount badge -->
        {% if item.product.sale %}
        <div class="badge bg-danger text-white font-monospace position-absolute"
            style="top: -.5rem; right: 0.5rem">
            Sale
        </div>
        {% endif %}
        {% endthumbnail %}
    </div>

    <div class="col-12 col-sm-6 order-1 order-sm-2">
        <p class="text-capitalize fw-bolder mb-0 text-center">{{ item.product.name }}</p>
    </div>

    <div class="col-3 text-center col-6 col-sm-3 order-2 order-sm-3">
        <div>
            <!-- Sale badge -->
            {% if item.product.sale %}
            <span class="text-decoration-line-through font-monospace">${{ item.product.price }}</span>
            <span class="text-danger font-monospace fw-bolder">${{ item.product.sale_price }} </span>
            {% else %}
            <span class="font-monospace fw-bolder">${{ item.product.price }} </span>
            {% endif %}
            <p class="">Quantity: {{ item.quantity }}</p>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}