<!-- Order Line Items -->
{% load thumbnail %}

{% for item in order.lineitems.all %}
<div class="cart-conteiner border mx-0 px-0 bg-white row align-items-center mt-2 mt-sm-4">

    <!-- Product image -->
    <div class="col-6 col-sm-3 order-2 order-sm-1 position-relative">
        {% thumbnail item.product.image "300" format="WEBP" as im %}
        <a class="" href="{% url 'shop_item' item.product.id %}"
            aria-label="A link to product {{ item.product.name }} details page">
            <div class="h-100 d-flex align-items-center ">
                <img class="card-img-top" src="{{ im.url }}"
                width="300" height="100%"
                    alt="An image for product {{ item.product.name }} color {{ item.product.color }}" />
            </div>
        </a>
        <!-- Discount badge -->
        {% if item.product.sale %}
        <div class="badge bg-danger text-white position-absolute font-monospace" style="top: 0.5rem; right: 0.5rem">
            Sale
        </div>
        {% endif %}
        {% endthumbnail %}
    </div>

    <!-- Product description -->
    <div class="col-12 col-sm-6 order-1 order-sm-2 product text-center">
        <p class="text-capitalize mb-0 fw-bolder">{{ item.product.name }}</p>
        <p class="text-capitalize mb-0 font-monospace">SKU: {{ item.product.sku }}</p>
        <!-- incluse stars rating  -->
        <div class="star_container d-flex flex-column align-items-center">
            {% if item.product.rating %}
            <a href="{% url 'all_reviews' item.product.id %}">
                <div class="stars h4 text-warning"
                    style="background-image: linear-gradient(to right, orange, orange {% widthratio item.product.rating 5 100 %}%, gray {% widthratio item.product.rating 5 100 %}%, gray 100%)">
                    ★★★★★
                </div>
            </a>
            {% else %}
            <span class="time font-monospace">No reviews yet</span>
            <div class="stars h4 text-warning" style="background-image: linear-gradient(to right, gray, gray)">
                ★★★★★
            </div>

            {% endif %}
        </div>

        <!-- Product review available only if order was places and not cancelled -->
        {% if order.user_profile and from_profile and not order.status == 'Cancelled' %}
        {% if not item.product.id in order_list %}
        <p><a href="{% url 'review_view' item.product.id  %}?order_id={{ order.order_number }}">Write a
                review</a></p>
        {% else %}
        <p><a href="{% url 'review_view' item.product.id  %}?order_id={{ order.order_number }}">View Your
                review</a></p>
        {% endif %}
        {% endif %}
    </div>

    <!-- Product pricing and quantity -->
    <div class="col-3 col-6 col-sm-3 order-2 order-sm-3">
        <div class="text-end">
            {% if item.product.sale %}
            <span class="text-decoration-line-through text-danger  font-monospace">€{{ item.product.price }}</span>
            <span class="text-danger  font-monospace">€{{ item.product.sale_price }} </span>
            {% else %}
            <span class="font-monospace">€{{ item.product.price }}</span>
            {% endif %}

            <p class="mb-0 font-monospace">Quantity: {{ item.quantity }}</p>
            <p class="mb-0 font-monospace">Sub total €{{ item.product_total }} </p>
        </div>
    </div>

</div>
{% endfor %}