{% extends 'base.html' %}
{% load static %}


{% block page_header %}
<!-- Header-->
<header class="py-5">

</header>
{% endblock %}
{% block content %}

<!--OrderDetail section-->
<section class="page-section">

    <div class="container px-sm-2">
        <div class="col-12 text-center">
            <h1 class="text-capitalize">Ooops <i class="fas fa-bug"></i></h1>
            <p class="m-0 text-muted text-italic">The server cannot not process the request due to a client error 400</p>
        </div>
  
    </div>
</section>

{% endblock %}