{% extends 'base.html' %}
{% load static %}


{% block page_header %}
<!-- Header-->
<header class="py-5">

</header>
{% endblock %}
{% block content %}

<!--OrderDetail section-->
<section class="page-section">

    <div class="container px-sm-2">
        <div class="col-12 text-center">
            <div class="h1 text-danger"><i class="fas fa-times-circle"></i></div>
            <h1 class="text-capitalize">Ooops </h1>
            <p class="m-0 text-muted text-italic">The resource you were trying to reach is forbidden</p>
            <p class="m-0 text-muted text-italic">Refresh the page, double check the address, clear yur browser cookies.</p>
        </div>

    </div>
</section>

{% endblock %}