{% extends 'base.html' %}
{% load static %}


{% block page_header %}
<!-- Header-->
<header class="py-5">

</header>
{% endblock %}
{% block content %}

<!--OrderDetail section-->
<section class="page-section">

    <div class="container px-sm-2">
        <div class="col-12 text-center">
            <div class="h1"> <i class="fas fa-robot"></i></div>
            <h1 class="text-capitalize">Ooops</h1>
            <p class="m-0 text-muted text-italic text-capitalize">The page you're looking for can't be found</p>
        </div>
        
    </div>
</section>

{% endblock %}