<nav class="navbar navbar-expand-md fixed-top flex-column" id="mainNav">
    <div class="container">
        <div><a class="navbar-brand" href="{% url 'home' %}">A hat Shop</a></div>

        <div class="navbar-toggler p-0" role="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars h1 ms-1"></i>
        </div>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-1 py-lg-0">
                <h1 class="text-white">here</h1>
                <div class="nav-item ">
                    <a class="nav-link text-light" href="{% url 'cart' %}"><i class="fas fa-shopping-cart">
                        </i>Here
                    </a>
                </div>
                {% block extr_nav %}
                {% endblock %}
                <li class="nav-item"><a class="nav-link {% if request.get_full_path == '/' %}disabled{% endif %}"
                        href="{% url 'home' %}">home</a></li>
                <li class="nav-item"><a class="nav-link {% if shop %}disabled{% endif %}"
                        href="{% url 'shop' %}">shop</a></li>

                {% if request.user.is_authenticated %}
                <li class="nav-item"><a
                        class="nav-link {% if request.get_full_path == '/accounts/logout/' %}disabled{% endif %}"
                        href="{% url 'account_logout' %}">Logout</a></li>
                {% else %}
                <li class="nav-item"><a
                        class="nav-link {% if request.get_full_path == '/accounts/login/' %}disabled{% endif %}"
                        href="{% url 'account_login' %}">Login</a></li>
                {% endif %}

            </ul>

        </div>

    </div>
    {% block extr_nav_lg %}
    {% endblock %}
</nav>