<!-- Promise page section -->
<section class="page-section bg-primary">
    <div class="container">
        <div class="text-center mb-5">
            <h2 class="text-uppercase text-white">Our Promise</h2>
        </div>

        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-warning"></i>
                    <i class="fas fa-shopping-cart fa-stack-1x fa-inverse text-light"></i>
                </span>
                <p class="my-3 h4 text-white">E-Commerce</p>
                <p class="font-text text-light">
                    Fast response times, customers needs is our top priority.
                    A simple purchasing process. Shop latest hats at a good price
                    We have on sale fashion hats at up to 80% off.
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-warning"></i>
                    <i class="fas fa-shipping-fast fa-stack-1x fa-inverse text-light"></i>
                </span>
                <p class="my-3 h4 text-white">Express Shipping</p>
                <p class="font-text text-light">
                    Express shipping for all orders, no metter small or large.
                    Get your free shipping for orders that are over $50.
                    For orders purcheiced before 13pm (GMT) same day dispatch
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-warning"></i>
                    <i class="fab fa-cc-stripe fa-stack-1x fa-inverse text-light"></i>
                </span>
                <p class="my-3 h4 text-white">Secure Payment</p>
                <p class="text-light font-text"> 
                    Pay with your credit card or debit card securely.
                    Stripe is an industry leader in payment processing,
                    and ensures all transactions are secure and protected from fraud.
                </p>
            </div>
        </div>
    </div>
</section>