<!-- support tickets -->
<div class="card">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Submitted support tickets
    </div>
    <div class="card-body p-0">
        {% for issue in issues %}

        <p class="font-monospac small px-2">{{ issue }} <br> <span class="time">Submitted: {{ issue.date }}</span>
        </p>
        <table class="table table-borderless mb-0">
            <thead>
                <tr>
                    <th>Ticket</th>
                    <th class=" text-center">Issue</th>
                    <th class="text-end">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-light">
                    <td class="col-4 font-monospace"><a class="btn btn-warning"
                            href="{% url 'messages_view' issue.id %}?unread=False" title="{{ issue }}"
                            aria-label="A link to a {{ issue }} resolution mesage page">
                            #{{ issue.id}}
                        </a></td>
                    <td class="col-4 font-monospace text-center">{{ issue.issue }}</td>
                    <td class="col-4 colfont-monospace text-end">{{ issue.status }}</td>
                </tr>
            </tbody>
        </table>
        {% endfor %}
    </div>
</div>