{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% load static %}
{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block page_header %}
<!-- Header-->
<header class="bg-black py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center">

      <h1 class="display-4 text-white fw-bolder">{% trans "Sign In" %}</h1>

    </div>
  </div>
</header>
{% endblock %}


{% block inner_content %}

    <h1>{% trans "Password Reset" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
{% endblock %}
