{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block page_header %}
<!-- Header-->
<header class="bg-black py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center">

      <h1 class="display-4 text-white fw-bolder">{% trans "Change Password" %}</h1>

    </div>
  </div>
</header>
{% endblock %}

{% block inner_content %}

    <form class="password_change needs-validation" novalidate method="POST" action="{% url 'account_change_password' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-dark btn-xl text-uppercase" type="submit" name="action">{% trans "Change Password" %}</button>
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
{% endblock %}
