{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block page_header %}
<!-- Header-->

<header class="my-5">

</header>

{% endblock %}


{% block inner_content %}
<!-- Header-->
<div class="text-center">
    <h1 class="display-4 fw-bolder mb-5"><i class="fas fa-cogs"></i> {% trans "Change Password" %}</h1>
</div>

<form class="password_change needs-validation" novalidate method="POST" action="{% url 'account_change_password' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-dark btn-xl text-uppercase" type="submit"
        name="action">{% trans "Change Password" %}</button>
    <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
</form>
{% endblock %}