{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% load static %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block page_header %}
<!-- Header-->

<header class="my-5">

</header>

{% endblock %}


{% block inner_content %}
<!-- Header-->
<div class="text-center">
  <h1 class="display-4 fw-bolder mb-5">{% trans "Sign In" %}</h1>
</div>
<h1>{% trans "Change Password" %}</h1>
<p>{% trans 'Your password is now changed.' %}</p>
{% endblock %}