{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<!-- Header-->
<header class="bg-black py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center">

            <h1 class="display-4 fw-bolder">Review</h1>

        </div>
    </div>
</header>
{% endblock %}
{% block content %}

<!-- Product Detail section-->
<section class="page-section">
    <div class="container pb-5 px-4 px-lg-5">
        <div class="item row gx-4 gx-lg-5">

            <!-- Include Review product -->
            {% include 'includes/review-product.html' %}

            <!-- If feedback was left return feedback instead -->
            <div class="col-md-6 mt-5">

                {% if feedback_left %}
                <div class="bg-white shadow-sm border rounded p-3">
                    <h5 class="">Your Review for</h5>
                    <p class="m-0 fw-bolder  text-muted text-italic text-capitalize">{{ item.name }}</p>

                    <!-- Include review stars -->
                    {% include 'includes/reviews-stars.html' %}
           
                </div>
                {% else %}
                <!-- Product add to cart POST form -->
                <h5 class="">Review</h5>
                <p class="text-muted text-italic">{{ item.name }}</p>
                <div class="d-flex">
                    <!-- Reviews form-->
                    {% include 'includes/forms/review-form.html' %}
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block postloadjs %}
<!-- Review form scripts -->
<script src="{% static 'js/review.js' %}"></script>
<script src="{% static 'js/review-form.js' %}"></script>
{% endblock %}