{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<!-- Header-->
<header class="py-5">

</header>
{% endblock %}
{% block content %}

<!-- Product Detail section-->
<section class="page-section">
    <div class="container pb-5 px-2 px-lg-5">
        <div class="item">

            <!-- Include Review product -->
            {% include 'includes/review-product.html' %}

            <!-- If feedback was left return feedback instead -->
            <div class="col-md-6 mt-5">

                {% if feedback_left %}
                <div class="bg-white shadow-sm border rounded p-3">
                    <h2 class="">Your Review for</h2>
                    <p class="m-0 text-muted text-italic text-capitalize">{{ item.name }}</p>

                    <!-- Include review stars -->
                    {% include 'includes/reviews-stars.html' %}
           
                </div>
                {% else %}
                <!-- Product add to cart POST form -->
                <h2 class="">Submit Your Review</h2>
                <p class="text-muted text-italic">For product {{ item.name }} in your recent order</p>
                <div>
                    <!-- Reviews form-->
                    {% include 'includes/forms/review-form.html' %}
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block postloadjs %}
<!-- Review form scripts -->
<script src="{% static 'js/review.js' %}"></script>
<script src="{% static 'js/review-form.js' %}"></script>
{% endblock %}