{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<!-- Header-->
<header class="py-5">
  
</header>
{% endblock %}
{% block content %}

<!-- Product Detail section-->
<section class="page-section">
    <div class="container px-2 px-lg-5"> 
        <div class="item">
           
            <!-- Include Review product -->
            {% include 'includes/review-product.html' %}

            <!-- If feedback was left return feedback instead -->
            
            <div class="col-md-6 border-start review-container">
                <h2 class="">All Revies</h2>
                <p class="m-0 text-muted text-italic text-capitalize">For product {{ item.name }}</p>
                {% for review in reviews reversed %}
                <div class="mt-4 shadow-sm border rounded p-3 bg-white">
                    <h5 class="m-0 fw-bolder text-muted text-italic text-capitalize">{{ review.user_profile }}</h5>

                    <!-- Include review stars -->
                    {% include 'includes/reviews-stars.html' %}
                </div>
                {% endfor %}
                
            </div>
        </div>
    </div>

</section>

{% endblock %}