/* Extra Navigation Shop */

.drop-link {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.95rem;
    color: #e5e5e5;
    font-weight: 600;
    letter-spacing: 0.0625em;
}

.drop-link,
.dropdown-item {
    color: #e5e5e5;
    transition: color 0.2s ease-in-out;
}

.drop-link:hover {
    color: #fca311;
}

.dropdown-item,
.dropdown-menu {
    background-color: #292929;
}

.dropdown-item:hover {
    background-color: #292929;
    color: #fca311;
}

/* Card and badge */
.card-body {
    flex: 0 1 auto;
    padding: 1rem 1rem;
}

.this-h {
    padding-top: 60px;
}

.extra-navbar-grow {
    margin-top: 12px;
    height: 50px;
    opacity: 1;
    transition: all 0.3s ease;
}

@media (min-width: 760px) {
    .extra-navbar-shrink {
        margin-top: 0px;
        height: 0px;
        opacity: 0;
        transition: all 0.3s ease;
        overflow: hidden;
    }
}

.search-shrink {
    margin-top: 0px;
    height: 0px;
    opacity: 0;
    transition: all 0.3s ease;
    overflow: hidden;
}

.search-grow {
    margin-top: 12px;
    height: 50px;
    opacity: 1;
    transition: all 0.3s ease;
}

.search-btn {
    height: 100%;
    color: #e5e5e5;
    background-color: #fca311;
    border-radius: 0 4px 4px 0;
}

.search-btn:hover,
.search-btn:active {
    color: #000000;
    border-color: #fca311;  
}

.searh-form {
    max-width: 100%;
}