/* Extra Navigation Shop */

.drop-link {
    font-family: "Montserrat", sans-serif;
    font-size: 0.95rem;
    color: #f5f5f5;
    font-weight: 600;
    letter-spacing: 0.0625em;
}

.drop-link,
.dropdown-related-item {
    color: #f5f5f5;
    transition: color 0.2s ease-in-out;
}

.drop-link:hover {
    color: #fca311;
}

.dropdown-related-item,
.dropdown-menu {
    background-color: #292929;
}

.dropdown-related-item:hover {
    background-color: #292929;
    color: #fca311;
}

/* Card and badge */
.card-body {
    flex: 0 1 auto;
    padding: 1rem 1rem;
}

.this-h {
    padding-top: 60px;
}

/* extra shop nav */
.extra-navbar-grow {
    margin-top: 12px;
    height: 50px;
    opacity: 1;
    transition: all 0.3s ease;
}

@media (min-width: 760px) {
    .extra-navbar-shrink {
        margin-top: 0px;
        height: 0px;
        opacity: 0;
        transition: all 0.3s ease;
        overflow: hidden;
    }
}

/* nav search bar */
.search-shrink {
    margin-top: 0px;
    height: 0px;
    opacity: 0;
    transition: all 0.3s ease;
    overflow: hidden;
}

.search-grow {
    margin-top: 12px;
    height: 50px;
    opacity: 1;
    transition: all 0.3s ease;
}

.search-btn {
    height: 100%;
    color: #f5f5f5;
    background-color: #fca311;
    border-radius: 0 4px 4px 0;
}

.search-btn:hover,
.search-btn:active {
    color: #000000;
    border-color: #fca311;
}

.searh-form {
    max-width: 100%;
}

/* Custo carousel gallery*/
.bar {
    position: absolute;
    height: 100%;
    color: #292929;
    top: 0;
    z-index: 100000;
    opacity: .6;
    transition: all 0.2s ease-in-out;
}

.bar:hover {
    opacity: .9;
}

.bar-btn .h1{
    margin-bottom: 0;
}

.bar-btn{
    background-color: #f5f5f5;
}

.btn-left .h1{
    margin: 0  0 0 12px;
    border-radius: 0 6px 6px 0;
}

.btn-right .h1{
    margin: 0 12px 0 0;
    border-radius: 6px 0 0 6px;
}

.left {
    left: -15px;
}

.right {
    right: -15px;
}

.related-item {
    width: 30%;
}
@media screen and (max-width: 992px) {
    .related-item {
        width: 38%;
    }
}

@media screen and (max-width: 768px) {
    .related-item {
        width: 40%;
    }
}

@media screen and (max-width: 576px) {
    .related-item {
        width: 43%;
    }
}

@media screen and (max-width: 400px) {
    .related-item {
        width: 75%;
    }
}

.related-container {
    scroll-behavior: smooth;
}