<!doctype html>
<html lang="en">

<head>
    {% load static %}
    <!-- Required meta tags -->
    {% block meta %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Best e-shop to shop your for hats" />
    <meta name="author" content="Raivis Petrovskis" />

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#292929">

    {% endblock %}

    <link rel="icon" type="image/x-icon" href="#" />

    <!-- Bootstrap CSS -->
    {% block corecss %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,700&family=Roboto+Slab:wght@100;200;300;400;700&display=swap" rel="stylesheet">

    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link href="{% static 'css/base.css' %}" rel="stylesheet" />
    <link href="{% static 'css/reviews.css' %}" rel="stylesheet" />
    <link href="{% static 'css/forms.css' %}" rel="stylesheet" />
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    <!-- Core javasCript -->
    {% block corejs %}
    {% if request.get_full_path == '/checkout/' %}
    <script src="https://js.stripe.com/v3/"></script>
    {% endif %}
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>A Hat Shop</title>
</head>

<body>

    <!-- Include Navigation -->
    {% include 'includes/nav.html' %}

    <!-- Cart items toast -->
    {% if not request.get_full_path == '/cart/' and cart_items and not request.get_full_path == '/checkout/' %}
    <div aria-live="polite" aria-atomic="true">
        <div class="toast-container position-fixed end-0 p-3">
            <div id="cart_toast" class="toast d-none align-items-center bg-white rounded-3 shadow-sm border-0" role="alert"
                aria-live="assertive" aria-atomic="true">
                <div class="toast-header rounded-3">
                    <span class="text-italic fw-bolder">Cart Items</span>
                    <button type="button" class="btn-close btn-close-primary me-2 m-auto" data-bs-dismiss="toast"
                        aria-label="Close"></button>
                </div>
                <div class="toast-body p-2 rounded-3">
                    {% include 'includes/cart-items-toast.html' %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Message toast -->
    {% if user_messages %}
    <div aria-live="polite" aria-atomic="true">
        <div class="toast-container position-fixed end-0 p-3">
            <div id="message-toast" class="toast d-none align-items-center bg-white rounded-3 shadow-sm border-0" role="alert"
                aria-live="assertive" aria-atomic="true">
                <div class="toast-header rounded-3">
                    <span class="text-italic fw-bolder">New Spport messages</span>
                    <button type="button" class="btn-close btn-close-primary me-2 m-auto" data-bs-dismiss="toast"
                        aria-label="Close"></button>
                </div>
                <div class="toast-body p-2 rounded-3">
                    {% include 'includes/message-toast.html' %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Error Messages Container -->
    {% if messages %}
    {% include 'includes/toasts/message.html' %}
    {% endif %}

    <!-- Extra Header content -->
    {% block page_header %}
    {% endblock %}

    <!-- Main website contant content -->
    {% block content %}
    {% endblock %}

    <!-- include promise section-->
    {% include 'includes/promise.html' %}

    <!-- Include Footer section-->
    {% include 'includes/footer.html' %}

    <!-- Scrool to the top -->
    {% if shop %}
    <div id="go_up_active" class="nav-item pb-0">
        <a class="nav-link" href="#">
            <i class="fas fa-angle-double-up">
            </i>
            <span>Go up</span>
        </a>
    </div>
    {% endif %}
    <!-- All the postload javascript sources -->
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="{% static 'js/base.js' %}"></script>
    <!-- Custom Form Control -->
    <script src="{% static 'js/forms.js' %}"></script>
    <!-- ustom Cart Toast control -->
    {% if cart_items %}
    <!-- cart toast hower script -->
    <script src="{% static 'js/cart.js' %}"></script>
    {% endif %}
    {% if user_messages %}
    <!-- Support Mesages toast script-->
    <script src="{% static '/js/messages.js' %}"></script>
    {% endif %}

    <!-- Postload JavaScript content block -->
    {% block postloadjs %}

    {% endblock %}

</body>

</html>