{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block page_header %}
<!-- Header-->
<header class="bg-black py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center">

            <h1 class="display-4 text-white fw-bolder">Shop Item</h1>

        </div>
    </div>
</header>
{% endblock %}
{% block content %}

<!-- Product Detail section-->
<section class="page-section">
    <div class="container pb-5 px-4 px-lg-5">
        <div class="item row gx-4 gx-lg-5 align-items-center position-relative">
            {% if item.sale %}
            <div class="badge bg-danger text-white position-absolute w-auto" style="top: 0.5rem; right: 0.5rem">
                <h3 class="m-0 numbers-font">{% widthratio item.sale_price item.price 100 %}%</h3>
            </div>
            {% endif %}
            {% thumbnail item.image "500" as im %}
            <div class="col-md-6 mb-4 mb-md-0"><img class="card-img-top mb-md-0" src="{{ im.url }}"
                    alt="{{ item.name }}" />
            </div>
            {% endthumbnail %}

            <div class="col-md-6">
                <div class="small mb-1">SKU: {{ item.sku }}</div>
                <h1 class="display-5 fw-bolder text-capitalize">{{ item.name }}</h1>

                <div class="fs-5 mb-3">
                    {% if item.sale %}
                    <span class="text-decoration-line-through h3 text-danger numbers-font">${{ item.price }}</span>
                    <span class="text-danger h3 numbers-font">${{ item.sale_price }} </span>
                    {% else %}
                    <span class="numbers-font h3">${{ item.price }} </span>
                    {% endif %}
                </div>
                {% for i in review_items %}
                {% if item.pk == i.product.pk %}

                {{ item_context.quantity }}
                {% endif %}

                {% endfor %}
                
                <!-- incluse stars rating -->
            
                {% include 'includes/stars.html' %}
               
                <p class="lead">{{ item.description }}</p>
                {% if availability == 0 %}
                <p class="text-danger">{{ availability }} Out of stock</p>
                {% elif availability < 5  %}
                <p class="text-danger">
                    Only {{ availability }} left in stock.
                </p>
                {% else %}
                <p>{{ availability }} items in stock</p>
                {% endif %}
                <!-- Product add to cart POST form -->
                <div class="d-flex">
                    <form id="ad-to-cart" class="form" action="{% url 'add_to_cart' item.id %}" method="POST"
                        novalidate>
                        {% csrf_token %}
                        <input type="hidden" name="redirect_url" value="{{ request.get_full_path }}">
                        <input type="hidden" name="item_id" value="{{ item.id }}">
                        <!-- Phone number input-->
                        <input id="click-this" class="quantity text-center me-3" name="quantity" id="inputQuantity"
                            type="number" min="1" max="{{ availability }}" value="1" style="max-width: 3rem" />

                        <button
                            class="btn btn-dark btn-xl text-uppercase flex-shrink-0 {% if availability == 0 %}disabled{% endif %}"
                            type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Add to cart
                        </button>
                        <div class="invalid-feedback">{{ availability }} items available</div>
                        {% if request.user.is_superuser  %}

                        <div class="col mt-4">
                            <a class="btn btn-success btn-sm flex-shrink-0" href="{% url 'edit_item' item.id %}">
                                <i class="bi-cart-fill me-1"></i>
                                Edit Item
                            </a>
                        </div>

                        {% endif %}



                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Related products -->
    <div class="container pt-5 px-2 px-sm-4 px-lg-5">

        <h2 class="fw-bolder mb-4 text-capitalize">More {{ item.style }} hats</h2>

        {% include 'includes/related_items.html' %}
    </div>
</section>

<!-- From bootstrap.com -->
<script>
    (function () {
        'use strict'
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var formToValidate = document.getElementById('ad-to-cart')
        var num = document.getElementById('click-this')

        num.addEventListener('click', function () {
            formToValidate.classList.add('was-validated');
            var forms = document.querySelectorAll('.was-validated')
            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }
                        form.classList.add('was-validated')
                    }, false)
                })
        })
    })()
</script>
{% endblock %}