{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link href="{% static 'css/shop.css' %}" rel="stylesheet" />
{% endblock %}

<!-- Shop search and general navigation -->
{% block extr_nav %}
<!-- Shop categories styles and query mobile navigation -->
<ul class="d-block d-md-none navbar-nav border-bottom border-top border-warning py-3 mb-3">
    <li>
        <form class="form" method="GET" action="{% url 'shop' %}">
            <div class="input-group input-group-sm mb-3">
                <input type="text" class="search py-0" name="search" placeholder="Searh" aria-label="Search store">
                <div class="input-group-append">
                    <button class="btn search-btn py-0" type="submit"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
    </li>
    {% include 'includes/shop/shop-nav.html' %}

</ul>

{% endblock %}

<!-- Shop categories styles and query large navigation -->
{% block extr_nav_lg %}

<div class="container mt-3">
    <div class="col-12 d-none d-md-flex justify-content-between">
        <div>
            <form class="form" method="GET" action="{% url 'shop' %}">
                <div class="input-group input-group-sm mb-3">
                    <input type="text" class="search py-0" name="search" placeholder="Searh" aria-label="Search store">
                    <div class="input-group-append">
                        <button class="btn search-btn py-0" type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>

        <div>
            <!-- Include Shop Navigation -->
            {% include 'includes/shop/shop-nav.html' %}
        </div>

    </div>
    {% endblock %}

    {% block page_header %}
    <!-- Header-->
    <header class="bg-black py-5">
        <div class="container px-4 px-lg-5 pt-5 my-5">
            <div class="text-center">

                <h1 class="display-4 fw-bolder">Shop in style</h1>

                <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
            </div>
        </div>
    </header>
    {% endblock %}

    {% block content %}

    <!-- Section-->
    <section class="page-section">
        <div class="container mt-2 mt-sm-4 px-md-2">
            <div class="row gx-2 gx-sm-3 gx-md-4 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for product in products %}
                {% if product.item_count != 0 or request.user.is_superuser %}
                {% include 'includes/shop/item-card.html' %}
                {% endif %}
                {% endfor %}
            </div>  
        </div>
    </section>
    {% endblock %}

