{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link href="{% static 'css/shop.css' %}" rel="stylesheet" />
{% endblock %}

{% block page_header %}
<!-- Header-->
<header class="py-5">

</header>
{% endblock %}
{% block content %}

<!-- Product Detail section-->
<section class="page-section">
    <div class="container pb-5 px-lg-5">
        {% include 'includes/shop/product.html' %}
    </div>

    <div class="container pt-4 px-2 px-lg-5">
        {% if related_count > 1 %}
        <!-- Include Related products -->

        <h2 class="fw-bolder mb-4 text-capitalize">More {{ item.style }} hats</h2>

        <div class="position-relative">
            <div id="left" class="bar left pb-2 pb-lg-4 d-none d-md-flex">
                <div class="bar-btn my-auto rounded px-2 btn-left py-3"><i class="fas h1 fa-angle-left"></i>
                </div>
            </div>
            <div class="related-container pb-2 pb-lg-4 rounded row gx-2 gx-sm-3 gx-lg-4 h-25 scroll-wrapper flex-nowrap ">
                {% for product in related %}
                {% if product.id != item.id %}
                <div class="related-item col-lg-3">
                    {% include 'includes/shop/item-card.html' %}
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <div id="right" class="bar right d-none pb-2 pb-lg-4 d-md-flex">
                <div class="bar-btn my-auto px-2 rounded btn-right py-3"> <i class="fas h1 fa-angle-right"></i>
                </div>
            </div>
        </div>

        {% endif %}
    </div>
</section>

{% endblock %}

<!-- Postload JavaScript content block -->
{% block postloadjs %}
{% if related_count > 1 %}
<!-- Custom scroll effects -->
<script src="{% static 'js/scroll-x.js' %}"></script>
<!-- Scroll position -->
<script src="{% static 'js/scroll-pos.js' %}"></script>
{% endif %}
{% endblock %}