{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block page_header %}
<!-- Header-->
<header class="bg-black py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center">

            <h1 class="display-4 text-white fw-bolder">Shop Item</h1>

        </div>
    </div>
</header>
{% endblock %}
{% block content %}

<!-- Product Detail section-->
<section class="page-section">
    <div class="container pb-5 px-4 px-lg-5">
        <div class="item row gx-4 gx-lg-5 align-items-center position-relative">
            {% if item.sale %}
            <div class="badge bg-danger text-white position-absolute w-auto" style="top: 0.5rem; right: 0.5rem">
                <h3 class="m-0">{% widthratio item.sale_price item.price 100 %}%</h3>
            </div>
            {% endif %}
            {% thumbnail item.image "500" as im %}
            <div class="col-md-6"><img class="card-img-top mb-md-0" src="{{ im.url }}" alt="{{ item.name }}" />
            </div>
            {% endthumbnail %}

            <div class="col-md-6">
                <div class="small mb-1">SKU: {{ item.sku }}</div>
                <h1 class="display-5 fw-bolder">{{ item.name }}</h1>
                <div class="fs-5 mb-5">
                    {% if item.sale %}
                    <span class="text-decoration-line-through text-danger">${{ item.price }}</span>
                    <span class="text-danger">${{ item.sale_price }} </span>
                    {% else %}
                    <span>${{ item.price }} </span>
                    {% endif %}
                </div>
                <p class="lead">{{ item.description }}</p>
                {% if item.item_count == 0 %}
                <p class="text-danger">{{ item.item_count }} Out of stock</p>
                {% elif item.item_count < 5  %}
                <p class="text-danger">
                    Only {{ item.item_count }} left in stock.
                    
                </p>
                {% else %}
                <p>{{ item.item_count }} items in stock</p>
                {% endif %}

                <!-- Product add to cart POST form -->
                <div class="d-flex">
                    <form id="ad-to-cart" class="form" action="{% url 'add_to_cart' item.id %}" method="POST"
                        novalidate>
                        {% csrf_token %}
                        <input type="hidden" name="redirect_url" value="{{ request.get_full_path }}">
                        <input type="hidden" name="item_id" value="{{ item.id }}">
                        <!-- Phone number input-->
                        <input id="click-this" class="quantity text-center me-3" name="quantity" id="inputQuantity"
                            type="number" min="1" max="{{ item.item_count }}" value="1" style="max-width: 3rem" />

                        <button class="btn btn-dark flex-shrink-0" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Add to cart
                        </button>

                        <div class="invalid-feedback">Maximum {{ item.item_count }} items available</div>

                    </form>
                </div>
            </div>
        </div>
        <script>
            (function () {
                'use strict'
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var formToValidate = document.getElementById('ad-to-cart')
                var num = document.getElementById('click-this')

                num.addEventListener('click', function () {
                    formToValidate.classList.add('was-validated');
                    var forms = document.querySelectorAll('.was-validated')
                    // Loop over them and prevent submission
                    Array.prototype.slice.call(forms)
                        .forEach(function (form) {
                            form.addEventListener('submit', function (event) {
                                if (!form.checkValidity()) {
                                    event.preventDefault()
                                    event.stopPropagation()
                                }

                                form.classList.add('was-validated')
                            }, false)
                        })
                })

            })()
        </script>

        <!-- Related products -->
        <div class="container pt-5 px-2 px-sm-4 px-lg-5">

            <h2 class="fw-bolder mb-4">Related products</h2>

            <div class="row gx-2 gx-sm-4  gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for relate in related %}
                {% if relate.id != item.id %}
                <div class="col mb-2 mb-sm-4">
                    <div class="card pt-2 justify-content-end h-100">
                        <!-- Sale badge-->
                        {% if relate.sale %}
                        <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                            {% widthratio item.sale_price item.price 100 %}%
                        </div>
                        {% endif %}
                        <!-- Product image-->

                        <div class="h-100 d-flex align-items-center">
                            {% thumbnail relate.image "250" as im %}
                            <img class="card-img-top" src="{{ im.url }}" alt="{{ relate.name }}" />
                            {% endthumbnail %}
                        </div>
                        <a class="card-img-overlay" href="{% url 'shop_item' relate.id %}">
                        </a>
                        <!-- Product details-->
                        <div class="card-body p-2">
                            <div class="text-center align-items-end">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{ relate.name }}</h5>

                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                                <!-- Product price-->
                                {% if relate.sale %}
                                <span class="text-decoration-line-through text-danger">${{ relate.price }}</span>
                                <span class="text-danger">${{ relate.sale_price }} </span>
                                {% else %}
                                <span>${{ relate.price }} </span>
                                {% endif %}
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent justify-self-end">

                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}

            </div>
        </div>
</section>
{% endblock %}