{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link href="{% static 'css/shop.css' %}" rel="stylesheet" />
{% endblock %}

<!-- Shop search and general navigation -->

{% block page_header %}
<!-- Header-->
<header class="py-5">
    <div class="my-0 my-md-5"></div>
</header>
{% endblock %}

{% block content %}

<!-- Section-->
<section class="page-section">
    <div class="container mt-2 mt-sm-4 px-md-2">
        <div class="row gx-2 gx-sm-3 gx-md-4 justify-content-center">
            {% for product in products %}
            {% if product.item_count != 0 or request.user.is_superuser %}
            <div class="col-6 col-md-4 col-lg-3 mb-2 mb-sm-3 mb-md-4">
                {% include 'includes/shop/item-card.html' %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}

{% block postloadjs %}
<!-- Shop form scripts -->
<script src="{% static 'js/shop.js' %}"></script>
<!-- Scroll position -->
<script src="{% static 'js/scroll-pos.js' %}"></script>
{% endblock %}