{% load thumbnail %}

    <div class="card shadow-sm rounded-3 pt-2 h-100">
        <!-- Sale badge-->
        {% if product.sale %}
        <div class="badge bg-danger p-2 text-white position-absolute p-2 font-monospace"
            style="top: 0.5rem; right: 0.5rem">
            Sale
        </div>
        {% endif %}
        <!-- Product image-->

        <div class="h-100 d-flex align-items-center">
            {% thumbnail product.image "300" format="WEBP" as im %}
            <img class="card-img-top" src="{{ im.url }}"
                alt="An image for product {{ item.name }} color {{ item.color }}" />
            {% endthumbnail %}
        </div>
        <a class="card-img-overlay"
            aria-label="{{ product.color }} {{ product.name }} hat, {% if product.sale %} discount price €{{ product.sale_price }} {% else %} price €{{ product.price }} {% endif %} click here to got to {{ product.name }} details page"
            href="{% url 'shop_item' product.id %}" title="Go to details">
        </a>
        <!-- Product details-->
        <div class="card-body p-2">
            <div class="text-center align-items-end">
                <!-- Product name-->
                <span class="fw-bolder h5 text-capitalize">{{ product.name }}</span>
                <div class="d-flex justify-content-center small text-warning mb-2">

                    <!-- incluse stars rating -->
                    {% include 'includes/product-stars.html' %}

                </div>
                <!-- Product price-->
                {% if product.sale %}
                <span class="text-decoration-line-through font-monospace">€{{ product.price }}</span>
                <span class="text-danger font-monospace fw-bolder">€{{ product.sale_price }} </span>
                {% else %}
                <span class="font-monospace fw-bolder">€{{ product.price }} </span>
                {% endif %}
            </div>
        </div>
        <!-- Product actions-->
        <div class="card-footer pt-0 border-top-0 bg-transparent justify-self-end">
        </div>
    </div>
