<!-- Query By category -->

<li class="nav-item my-auto dropdown">
        <div class="drop-link dropdown orange" href="#" id="cat" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                {% if cat and cat != 'None' %}{{ cat }} hats{% else %}All Hats{% endif %} <i
                        class="fas fa-sort-down"></i>
        </div>
        <ul class="dropdown-menu" aria-labelledby="cat">
                <li class="nav-item"><a class="nav-link {% if cat == 'all' %}orange{% endif %}"
                                href="{% url 'shop' %}?category=all&style={{ style }}&sort={{ sortkey }}">
                                All Hats
                        </a>
                </li>
                {% for categ in categories %}
                <li class="nav-item"><a class="nav-link {% if cat == categ.name %}orange{% endif %}"
                                href="{% url 'shop' %}?category={{ categ.name }}&style={{ style }}&sort={{ sortkey }}">
                                {{ categ.friendly_name }}
                        </a>
                </li>
                {% endfor %}
                <li class="nav-item"><a class="nav-link {% if cat == 'sale' %}orange{% endif %}"
                                href="{% url 'shop' %}?category=sale&style={{ style }}&sort={{ sortkey }}">Hats
                                Sale</a></li>

        </ul>
</li>
<!-- Query products by Style -->
<li class="nav-item my-3 my-md-auto dropdown">
        <div class="drop-link dropdown {% if style and style != 'None' %}orange{% endif %}" href="#" id="style"
                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {% if style and style != 'None' %}{{ style }} style{% else %}Sellect Style{% endif %} <i
                        class="fas fa-sort-down"></i>
        </div>
        <ul class="dropdown-menu" aria-labelledby="style">
                <li class="nav-item">
                        <a class="nav-link {% if style == 'all' %}orange{% endif %}"
                                href="{% url 'shop' %}?category={{ cat }}&style=all&sort={{ sortkey }}">
                                All Styles
                        </a>
                </li>
                {% for st in style_list %}
                <li class="nav-item">
                        <a class="nav-link {% if style == st.style %}orange{% endif %}"
                                href="{% url 'shop' %}?category={{ cat }}&style={{ st.style }}&sort={{ sortkey }}">
                                {{ st.style }}
                        </a>
                </li>
                {% endfor %}
        </ul>
</li>
<!-- Sort By name, price, rating Sorting descending and ascending orders -->
<li class="nav-item my-auto dropdown">
        <div class="drop-link dropdown {% if sortkey and sortkey != 'None' %}orange{% endif %}" href="#" id="sort"
                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {% if sortkey and sortkey != 'None' %}{{ sort_name }}{% else %}Sort By{% endif %} <i
                        class="fas fa-sort-down"></i>
        </div>
        <ul class="dropdown-menu" aria-labelledby="sort">
                <li><a class="dropdown-item fw-bolder {% if sortkey == 'name_asc' %}orange{% endif %}"
                                href="{% url 'shop' %}?category={{ cat }}&style={{ style }}&sort=name_asc">
                                Name (A-Z)
                        </a>
                </li>
                <li><a class="dropdown-item fw-bolder {% if sortkey == 'name_desc' %}orange{% endif %}"
                                href="{% url 'shop' %}?category={{ cat }}&style={{ style }}&sort=name_desc">
                                Name (Z-A)
                        </a>
                </li>
                <li><a class="dropdown-item fw-bolder {% if sortkey == 'price_asc'  %}orange{% endif %}"
                                href="{% url 'shop' %}?category={{ cat }}&style={{ style }}&sort=price_asc">
                                Price (low to high)
                        </a>
                </li>
                <li><a class="dropdown-item fw-bolder {% if sortkey == 'price_desc' %}orange{% endif %}"
                                href="{% url 'shop' %}?category={{ cat }}&style={{ style }}&sort=price_desc">
                                Price (high to low)
                        </a>
                </li>
                <li><a class="dropdown-item fw-bolder {% if sortkey == 'rating_asc' %}orange{% endif %}"
                                href="{% url 'shop' %}?category={{ cat }}&style={{ style }}&sort=rating_asc">
                                Rating (low to high)
                        </a>
                </li>
                <li><a class="dropdown-item fw-bolder {% if sortkey == 'rating_desc' %}orange{% endif %}"
                                href="{% url 'shop' %}?category={{ cat }}&style={{ style }}&sort=rating_desc">
                                Rating (high to low)
                        </a>
                </li>
        </ul>

</li>