{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}


{% block page_header %}
<!-- Header-->
<header class="py-5">

</header>
{% endblock %}
{% block content %}

<!-- Product Detail section-->
<section class="page-section">

    <div class="container col-12 col-sm-8 col-lg-6">
        <div class="mx-auto element-width">
            <h4 ><i class="fas fa-comments"></i> Messages</h4>

            <div class="mb-2">
                <span class="text-muted small text-italic ">Order # {{ issue.order.order_number }}</span> <br>
                <span class="text-muted small text-italic ">{{ issue }}</span> <br>
                {% if issue.order_line %}
                <span class="p-0 text-muted small text-italic">Product: {{ issue.order_line }}</span>
                {% endif %}
            </div>
 
            {% if issue.status == 'Resolved' %}
            <p class="m-0 text-success fw-bolder small font-monospace">Ticket Status: {{ issue.status }}</p>
            {% else %}
            <p class="m-0 text-danger fw-bolder small font-monospace">Ticket Status: {{ issue.status }}</p>
            {% endif %}
            <div class="messages-body bg-white rounded mb-4 messages">
                {% for message in thread_messages %}

                {% if message.user.is_superuser %}

                <div class="rounded p-3">
                    <span class="m-0 fw-bolder text-muted text-italic text-capitalize small">{{ message.user.username }}
                    </span> <br>
                    <sman class="time font-monospace">{{ message.timestamp }}</span>

                    <div class="text-admin bg-light p-2 shadow-sm">
                        <p class="message mb-0 font-monospace small">{{ message.message }}</p>
                    </div>
                </div>


                {% else %}

                <div class="rounded p-3">
                    <span class="m-0 fw-bolder text-muted text-italic text-capitalize small">{{ message.user.username }}
                    </span> <br>
                    <sman class="time font-monospace">{{ message.timestamp }}</span>


                    <div class="text bg-light p-2 bg-light shadow-sm border">
                        <p class="message mb-0 font-monospace small">{{ message.message }}</p>
                    </div>
                </div>


                {% endif %}
                {% endfor %}
            </div>
            <!-- Messages form  -->
            {% include 'includes/forms/message-form.html' %}

            <!-- Admin Change current issue status form  -->
            {% include 'includes/forms/status-form.html' %}
        </div>
    </div>
    </div>
</section>

{% endblock %}