<div class="px-2">
    <p class="text-muted text-italic">Manage orders</p>
</div>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Orders
    </div>
    <div class="card-body p-0">
        <table class="table table-borderless">
            {% if orders %}
            {% for order in orders %}
            {% if order.status != 'Completed' %}
            <thead>
                <tr>
                    <th class="text-muted text-italic">Odrer Date: {{ order.date }}</th>

                </tr>
            </thead>
            <tbody>
                <tr class="table-light ">
                    <td>
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th>Odrer</th>
                                    <th>Total</th>
                                    <th>Status</th>
                                    <th>Review</th>
                                </tr>
                            </thead>

                            <tbody class="border-bottom">
                                <tr class="table-light">
                                    <td><a class="btn btn-dark" href="{% url 'order_details' order.order_number %}"
                                            title="{{ order.order_number }}">
                                            ID: {{ order.id}}
                                        </a></td>
                                    <td>${{ order.total }}</td>
                                    <td>{{ order.status }}</td>
                                    <td>None</td>

                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
            {% endif %}
            {% endfor %}
            {% endif %}
            
        </table>

    </div>
</div>