{% load crispy_forms_tags %}
{% load static %}

<form id="ad-to-cart d-flex" class="form" action="{% url 'review_view' item.id %}?order_id={{ order_id }}" method="POST"
    novalidate>
    {% csrf_token %}

    <div class="mx-auto h1 col-8 position-relative">
        <div class="position-absolute hover w-100 d-flex justify-content-between z-minus">
            <span class="starz">★</span>
            <span class="starz">★</span>
            <span class="starz">★</span>
            <span class="starz">★</span>
            <span class="starz">★</span>
        </div>
        <input type="range" class="form-range hidden form-fontrol" name="raiting" min="1" value="0" max="5" step="1"
            id="star" onchange="Stars(this.value)" required>
        <div class="invalid-feedback">Rating is required</div>
        <input type="hidden" value="{{ order_id }}" name="order_id">
    </div>
    <div class="fw-bolder font-monospace">
        {{ form|crispy }}
    </div>

    <button id="review-submit"
        class="btn btn-dark btn-xl text-uppercase flex-shrink-0 {% if availability == 0 %}disabled{% endif %}"
        type="submit">
        <i class="bi-cart-fill me-1"></i>
        Submit review
    </button>

</form>

{% block postloadjs %}
<script src="{% static 'js/forms.js' %}"></script>
{% endblock %}
