/* Main Header Masthead */
header.masthead {
    position: relative;
    min-height: 70vh;
    text-align: center;
    color: #c5c5c5;
    overflow: hidden;
}

.bg {
    position: absolute;
    min-height: 70vh;
    min-width: 100%;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-3 {
    position: absolute;
    min-height: 70vh;
    min-width: 100%;
    width: auto;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    opacity: .8;

}

header.masthead .masthead-subheading {
    position: relative;
    font-size: 1.5rem;
    font-style: italic;
    line-height: 1.5rem;
    margin-bottom: 25px;
    font-family: 'Roboto Slab', serif;
    z-index: 100;
}

header.masthead .masthead-heading {
    position: relative;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3.25rem;
    margin-bottom: 2rem;
    font-family: "Montserrat", sans-serif;
    z-index: 100;
}

@media (min-width: 450px) {
    header.masthead .masthead-heading {
        font-size: 3.25rem;
    }

}

@media (min-width: 768px) {
    header.masthead {
        min-height: 70vh;
    }

    header.masthead .masthead-subheading {
        font-size: 2.25rem;
        font-style: italic;
        line-height: 2.25rem;
        margin-bottom: 2rem;
    }

    header.masthead .masthead-heading {
        font-size: 4.5rem;
        font-weight: 700;
        line-height: 4.5rem;
        margin-bottom: 4rem;
    }
}

/* Custo carousel gallery*/
.bar {
    position: absolute;
    height: 100%;
    color: #fff;
    top:0;
    z-index: 100000;
    background-color: rgba(41, 41, 41, 0.178);
    opacity: .6;
    transition: all 0.2s ease-in-out;
}

.bar:hover {
    background-color: rgba(41, 41, 41, 0.473);
}

.left {
    border-radius: 6px 0 0 6px;
    left: -10px;
}

.right {
    border-radius: 0 6px 6px 0;
    right: -10px;
}

.related-item {
    width: 23%;
}

@media screen and (max-width: 992px){
    .related-item {
        width: 30%;
    }
}

@media screen and (max-width: 768px){
    .related-item {
        width: 43%;
    }
}

@media screen and (max-width: 400px){
    .related-item {
        width: 100%;
    }
}
