.result-message {
  line-height: 22px;
  font-size: 16px;
}

.result-message a {
  color: rgb(89, 111, 214);
  font-weight: 600;
  text-decoration: none;
}

.hidden {
  display: none;
}

#card-error {
  color: #d2042d;
  font-size: 13px;
  line-height: 17px;
}

#card-element {
  border-radius: 4px;
  padding: 12px;
  border: 1px solid #ced4da;
  height: 44px;
  width: 100%;
  background: white;
}

#payment-request-button {
  margin-bottom: 32px;
}

.StripeElement {
  outline-style: solid;
  outline-width: 0px;
  outline-color: transparent;
  transition: 100ms ease-in-out;
}

.StripeElement--focus {
  box-shadow: none;
  border-color: #999;
  border: 1px solid #999 !important;
  outline-width: 4px;
}

.StripeElement--invalid {
  border-color: #d2042d !important;
  outline-color: rgba(240, 86, 86, 0.250);
}

.StripeElement--complete {
  border-color: green !important;
  outline-color: rgba(25, 135, 84, 0.250);
}

#btn-submit {
  position: relative;
  min-height: 50px
}

button:disabled {
  opacity: 0.5;
  cursor: default;
}

/* spinner/processing state, errors */
.spinner {
  position: absolute;
  color: #fca311;
  font-size: 1.5rem;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 2.2rem;
  height: 2.2rem;
}
