<div class="d-flex flex-row justify-content-center align-items-end">
    <div class="btn-outline-dar">
        <form class="form" method="POST" action="{% url 'update_cart' item.item_id %}">
            {% csrf_token %}
            <div class="form-group m-0">
                <div class="input-group">

                    <input type="hidden" name="action" value="minus">
                    <button type='submit' class='btn count-btn my-auto'><i class="fas h3 my-auto  fa-minus-circle"></i></button>

                </div>
            </div>
        </form>
    </div>

    <div class="my-auto ">
        <h3 class="px-0 my-auto fw-bolder font-monospace">{{ item.quantity }}</h3>
    </div>

    <div class="btn-outline-light">
        <form class="form" method="POST" action="{% url 'update_cart' item.item_id %}">
            {% csrf_token %}
            <div class="form-group m-0">
                <div class="input-group ">

                    <input type="hidden" name="action" value="add">

                    <button type='submit' class='btn my-auto count-btn'><i class="fas h3 my-auto fa-plus-circle"></i></button>

                </div>
            </div>
        </form>
    </div>
    
</div>