<!-- Remove item from cart -->
<div class="position-absolute w-auto end-0 top-0">
    <div class="btn-outline-light">
        <form class="form" method="POST" action="{% url 'remove_cart_item' item.item_id %}">
            {% csrf_token %}
            <div class="form-group m-0">
                <div class="input-group">

                    <button type='submit' class='btn p-0 mt-2 my-auto count-btn'>
                        <i class="fas fa-trash-alt my-auto h4"></i>
                    </button>

                </div>
            </div>
        </form>
    </div>
</div>
