{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% load crispy_forms_tags %}

{% block page_header %}
<!-- Header-->
<header class="py-5">

</header>
{% endblock %}
{% block content %}

<!-- Product Detail section-->
<section class="page-section">
    <div class="mx-auto col-12 col-sm-8 col-lg-6 px-2">
        <h2 class="text-capitalize">Contact Us</h2>
        <p class="text-muted text-italic">Leave us a message and we will get back to you asap</p>
        <form id="contactForm" class="needs-validation" novalidate>

            <div class="form-group">
                <!-- Name input-->
                <input class="form-control" id="name" type="text" placeholder="Your Name *" required />
            </div>
            <div class="form-group">
                <!-- Email address input-->
                <input class="form-control" id="email" type="email" placeholder="Your Email *" required />

            </div>
            <div class="form-group">
                <!-- Phone number input-->
                <input class="form-control" id="phone" type="tel" placeholder="Your Phone *" required />

            </div>


            <div class="form-group form-group-textarea">
                <!-- Message input-->
                <textarea class="textarea text-area form-control" id="message" placeholder="Your Message *" required></textarea>

            </div>

            <!-- Submit Button-->
            <div class="text-center"><button class="btn btn-dark btn-xl text-uppercase" id="submitButton"
                    type="submit">Send
                    Message</button></div>
        </form>

        {% if request.user.is_authenticated %}
        <p class="text-muted text-italic mt-2">
            <a class="mt-2" href="{% url 'support' %}">
                Report
            </a> an account | Order | Product issue 
        </p> 
        {% endif %}


    </div>
</section>

{% endblock %}