{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% load crispy_forms_tags %}

{% block page_header %}
<!-- Header-->
<header class="py-5">

</header>
{% endblock %}
{% block content %}

<!-- Product Detail section-->
<section class="page-section">
    <div class="container">
        <div class="w-container mx-auto">
            <h2 class="text-capitalize"><i class="fas fa-paper-plane"></i> Contact Us</h2>
            <p class="text-muted text-italic">Leave us a message</p>
            <form id="contactForm" class="needs-validation" action="{% url 'contact_view' %}" novalidate method="POST">
                {% csrf_token %}

                <div class="form-group">
                    <!-- Phone number input-->
                    <input class="form-control" name="subject" id="subject" type="text" placeholder="Subject *" required
                        pattern="[a-zA-Z].{2,30}" />
                    <div class="invalid-feedback">
                        Invalid: a-z A-Z max-30.
                    </div>
                </div>

                <div class="form-group">
                    <!-- Name input-->
                    <input class="form-control" name="name" id="name" type="text" placeholder="Your Name *" required
                        pattern="[a-zA-Z].{2,30}" />
                    <div class="invalid-feedback">
                        Invalid: a-z A-Z max-30.
                    </div>
                </div>
                <div class="form-group">
                    <!-- Email address input-->
                    <input class="form-control" name="email" id="email" type="email" placeholder="Your Email *" required
                        minlength="2" maxlength="50"/>
                    <div class="invalid-feedback">
                        example@email.com max-50.
                    </div>
                </div>

                <div class="form-group form-group-textarea">
                    <!-- Message input-->
                    <textarea class="textarea text-area form-control" name="message" id="message"
                        placeholder="Your Message *" minlength="10" maxlength="500" oncopy="return false" onpaste="return false" autocomplete="off" required></textarea>
                    <div class="invalid-feedback">
                        min-10 max-500.
                    </div>
                </div>

                <!-- Submit Button-->
                <div class="text-center"><button class="btn btn-dark btn-xl text-uppercase" id="submitButton"
                        type="submit">Send
                        Message</button></div>
            </form>

            {% if request.user.is_authenticated %}
            <p class="text-muted text-italic mt-2">
               Or <a class="mt-2" href="{% url 'support' %}">
                    Report
                </a> a problem
            </p>
            {% endif %}

        </div>
    </div>
</section>

{% endblock %}