{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% load crispy_forms_tags %}

{% block page_header %}
<!-- Header-->
<header class="py-5">

</header>
{% endblock %}
{% block content %}

<!-- Submit support ticket -->
<section class="page-section">

    <div class="container">
        <div class="w-container mx-auto">
            <h2 class="text-capitalize"><i class="fas fa-file-signature"></i> Report</h2>
            <span class="text-muted small text-italic ">Problem with order ID: {{ order.id }} ?</span> <br>
            <span class="text-muted small text-italic ">Order # {{ order.order_number }}</span> <br>
            <form id="support-form" action="{% url 'submit' order.order_number %}" class="form" method="POST"
                novalidate>
                {% csrf_token %}

                <!-- Sellect issue field -->
                {{ form.issue | as_crispy_field }}

                <div id="sellect-product-group" id class="d-none">
                    <label for="sellect-product">Select Product</label>

                    <!-- If product issue show this sellect field -->
                    <select id="sellect-product" name="product" class="select form-control mb-2  fw-bolder">

                        <option selected value="">Select Product</option>
                        {% for item in order_line %}
                        <option value="{{ item.product.id }}">{{ item }}</option>

                        {{ item }}
                        {% endfor %}
                    </select>
                </div>

                <!-- Message field -->
                <div class="fw-bolder font-monospace">
                    {{ form.message | as_crispy_field }}
                </div>
                <button id="review-submit" class="btn btn-dark btn-xl text-uppercase flex-shrink-0" type="submit">
                    Submit
                </button>
            </form>
            <p class="text-muted text-italic mt-2">Or <a href="{% url 'contact_view' %}">Contact us</a> </p>
        </div>
    </div>
</section>
{% endblock %}

{% block postloadjs %}
<!-- Custom js  -->
<script src="{% static 'js/support.js' %}"></script>
{% endblock %}