{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% load crispy_forms_tags %}

{% block page_header %}
<!-- Header-->
<header class="py-5">
</header>
{% endblock %}
{% block content %}

<!-- Product Detail section-->
<section class="page-section">

    <div class="container">
        <div class="w-container mx-auto">
            <h2 class="text-capitalize">Report an issue</h2>
            <p class="text-muted text-italic p-0 m-0">Submit if any issues with Account | Order | Product</p>

            <form id="support-form" action="{% url 'support' %}" class="form" method="POST" novalidate>
                {% csrf_token %}

                <div class="fw-bolder font-monospace">
                    {{ form|crispy }}
                </div>
                <button id="review-submit" class="btn btn-dark btn-xl text-uppercase flex-shrink-0" type="submit">
                    Submit
                </button>
            </form>
            <p class="text-muted text-italic mt-2"><a href="{% url 'contact_view' %}">Contact us</a> for assistance</p>
        </div>
    </div>
</section>

{% block postloadjs %}
<!-- Custom js  -->
<script src="{% static 'js/support.js' %}"></script>
{% endblock %}

{% endblock %}