{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% load crispy_forms_tags %}

{% block page_header %}
<!-- Header-->
<header class="bg-black py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center">

            <h1 class="display-4 fw-bolder">Support</h1>

        </div>
    </div>
</header>
{% endblock %}
{% block content %}

<!-- Product Detail section-->
<section class="page-section">

    <div class="mx-auto col-12 col-sm-8 col-lg-6 px-4">
        <h5 class="text-capitalize">Report an issue</h5>
        <p class="text-muted text-italic">Submit if any issues with Account | Order | Product</p>
        <form id="support-form" action="{% url 'support' %}" class="form" method="POST" novalidate>
            {% csrf_token %}
           
            <div class="fw-bolder font-monospace">
                {{ form|crispy }}
            </div>
            <button id="review-submit" class="btn btn-dark btn-xl text-uppercase flex-shrink-0" type="submit">
                Submit
            </button>
        </form>

    </div>
</section>

<!-- onchange="myFunc(this.value)" -->
<script>
    let issue = document.querySelector('#id_support-issue')
    // issue.classList.add('form-select')
    issue.addEventListener("change", myFuncIssue);
    issue.classList.add('text-gray')

    function myFuncIssue() {
        if (issue.value == 'Select') {
            issue.classList.add('text-gray')
        } else {
            issue.classList.remove('text-gray')
        }
    }
</script>

{% endblock %}